﻿
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="display: flex;" ng-repeat="Goaldata in userAllGoalsList.userAllGoals track by $index">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                        <img ng-src="{{Goaldata.goalImg}}" class="img-thumbnail" style="border-radius:0px !important;">
                    </div>
                    <div style="text-align:center; width:auto; font-size:1.1em">{{Goaldata.goalName}} Goal Achieved {{Goaldata.goalPerc}}% </div>
                    <div class="pull-right" ng-show="Goaldata.isDelete=='Y'"><a href="javascript:void(0);" ng-click="goalEdit($event,Goaldata)">Edit</a></div>
                </div>

                <div class="card-body">
                    <span style="font-size: 1.1em"> You will get Rs.{{Goaldata.getAmount}} after completion of goal. Your Goal Achievement Duration is {{Goaldata.duration}} Years </span>
                </div>

                <div class="card-body">
                    <div class="pull-left">
                        <h3 class="card-title"> RS. {{Goaldata.investedAmt}}</h3>
                        <span style="font-size:1.1em; margin-top:-10px;"> Invested Amount </span>
                    </div>
                    <div class="pull-right">
                        <h3 class="card-title"> RS. {{Goaldata.currentAmt}}  </h3>
                        <span style="font-size:1.1em; margin-top:-10px;"> Current Amount </span>
                    </div>
                </div>

                <div class="card-body" style="text-align:-webkit-center;" ng-show="Goaldata.isDelete!='Y'">
                    <div style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%;  background-color: #0056a7; text-align: center;">
                        <a href="javascript:void(0);" ng-click="investedScheme($event,Goaldata);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Invest More </h4> </a>
                    </div>
                </div>
                <div class="card-body" ng-show="Goaldata.isDelete=='Y'">
                    <div class="pull-left" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:30%; background-color: rgb(251, 192, 64); text-align: center;">
                        <a href="javascript:void(0);" ng-click="goalRemove($event,Goaldata);">   <h4 class="card-title"> Remove </h4> </a>
                    </div>
                    <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 30%; background-color: #0056a7; text-align: center;" ng-show="userdetails.cafstatus=='success'">
                        <a href="javascript:void(0);" ng-click="recommendedScheme($event,Goaldata);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Invest </h4> </a>
                    </div>
                    <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%;  background-color: #0056a7; text-align: center;" ng-show="userdetails.cafstatus!='success'">
                        <a href="javascript:void(0);" ng-click="completeProfile($event);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Complete profile </h4> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="removegoal.tmpl.html">
    <md-dialog aria-label="Remove Cart">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{goalName}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isGoalRemoving">
            <div layout="row">
                <div class="md-dialog-content">
                    Are you sure to remove this goal?
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isGoalRemoving">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                No
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="removeGoal();">
                Yes
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isGoalRemoving">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>




