﻿.goalhead {
    background-color:#eee;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position:center !important;
    height:16.6em !important;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
   border-color: #fff; 
}