
.swal-button {
    background-color: #0056a7;
}

    .swal-button:not([disabled]):hover {
        background-color: #0056a7;
    }

.swal-footer {
    text-align: center;
}

.swal-modal {
    background-color: rgb(250,250,250);
}

.cartbgcolor {
    background: linear-gradient(60deg, #0056a7, #0056a7) !important;
}

.text-color-white {
    color: #ffffff !important;
}

.text-color-yellow {
    color: #fbc040 !important;
}

.text-color-fin {
    color: #0056a7 !important;
}

.dashboardCartviewtext {
    color: #565454;
    font-size: 13px !important;
    line-height: 22px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

    .tim-typo .tim-note {
        bottom: 5px;
        color: #c0c1c2;
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        left: 0;
        margin-left: 20px;
        position: absolute;
        width: 260px;
    }

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
    padding-top: 25px;
    border-bottom: none;
}

    .offline-doc .navbar.navbar-transparent .navbar-minimize {
        display: none;
    }

    .offline-doc .navbar.navbar-transparent .navbar-brand,
    .offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
        color: #FFFFFF !important;
    }

.offline-doc .footer {
    z-index: 3 !important;
}

.offline-doc .page-header .container {
    z-index: 3;
}

.offline-doc .page-header:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#map {
    z-index: 2;
    height: calc(100vh - 70px);
    margin-top: 70px;
}


/*--------------------------KYC & CAF------------------------------------*/

        .kycwraper{
        background-color: #0d4779; box-shadow: 0 20px 16px -15px rgba(0,0,0,.57); border-radius:5px; padding:2%; font-family:'Gotham Book'
            }


        .kycwraper h1, h2, h3, p{font-family:Gotham book}

        .enterpan-top{margin-top: 6%}

        .button-top{margin-top:15%}

        .kycbutton{background-color: #fbc81f; padding:3px 5px; width:100px; border:none; font-size:22px; border-radius:2px; float:right; margin-top:8%}

        .textboxkyc{
            background:none;  border:none; border-bottom:1px solid; border-color:#fff; padding:1%; font-size:1.5em; color:#fff; margin-bottom:3%
        }

        .identity-screentop{margin-top:3%; text-align:left }

        .fileds-heading{text-align:left; margin-left:3%}

        .upload-optionBackground{
             background-color:#CCC; border-radius:5px; border:2px dashed #fff; text-align:center; padding:5% 3%; color:#000;
        }
        
        .upload-optionBackground img{width:90px; align-content:center}
        
        .selectfiled-kyc{width:100%; color:#fff; font-family:'Gotham Book'; padding:2% 2%;  border:none; border-bottom:1px solid #fff; background-color:#0d4779; font-size:1.4em}

        .video-recordingscreen-top{margin-top:10%}
        .video-record1sthead{font-size:1.2em}

         .video-record2ndhead{margin-top:9%; font-size:1.2em}

         .startvideo{background-color: #fbc81f; padding:3px 5px;  border:none; font-size:22px; border-radius:2px;  margin-top:8%}
        


        .bold {
            font-weight: bold;
        }

        .time {
            position: absolute;
            left: -110px;
        }

        .timeline-wrapper {
            padding-left: 0px;
            font-family: 'Gotham Book';
            font-size: 14px;
            /*border: 1px solid #CCC;*/
        }

        .StepProgress {
            position: relative;
            padding-left: 45px;
            list-style: none;
        }

            .StepProgress::before {
                display: inline-block;
                content: '';
                position: absolute;
                top: 0;
                left: 15px;
                width: 10px;
                height: 100%;
                border-left: 2px solid #CCC;
            }

        .StepProgress-item {
            position: relative;
            counter-increment: list;
        }

            .StepProgress-item:not(:last-child) {
                padding-bottom: 50px;
            }

            .StepProgress-item::before {
                display: inline-block;
                content: '';
                position: absolute;
                left: -30px;
                height: 100%;
                width: 10px;
            }

            .StepProgress-item::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: -37px;
                width: 12px;
                height: 12px;
                border: 2px solid #CCC;
                border-radius: 50%;
                background-color: #FFF;
            }

            .StepProgress-item.is-done::before {
                border-left: 2px solid green;
            }

            .StepProgress-item.is-done::after {
                /*content: "?";*/
                font-size: 10px;
                color: #FFF;
                text-align: center;
                border: 2px solid green;
                background-color: green;
            }
        /*.StepProgress-item.current::before {
    border-left: 2px solid green;
    }
    .StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 18px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: green;
    border: 2px solid green;
    background-color: white;
    }*/
        .StepProgress strong {
            display: block;
        }

        /*---------------------------KYC & CAF Completed-------------------------------------*/

         

       /*----------------------------Scroll Div--------------------------------*/




