﻿

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");


@font-face {
  font-family: Montserrat-Regular;
  src:url(../fonts/Montserrat-Regular.ttf)
}

@font-face {
  font-family: Montserrat-Regular;
  src:url(../fonts/Montserrat-Regular.otf)
}


@font-face {
   font-family:Montserrat-Light;
   src:url(../fonts/Montserrat-Light.ttf);
}

@font-face {
   font-family:Montserrat-Light;
   src:url(../fonts/Montserrat-Light.otf);
} 

@font-face {
   font-family:Montserrat-ExtraLight;
   src:url(../fonts/Montserrat-ExtraLight.ttf);
} 

@font-face {
   font-family:Montserrat-ExtraLight;
   src:url(../fonts/Montserrat-ExtraLight.otf);
}

@font-face {
   font-family:Montserrat-bold;
   src:url(../fonts/Montserrat-Bold.ttf);
}


@font-face {
   font-family:Montserrat-bold;
   src:url(../fonts/Montserrat-Bold.otf);
}



@font-face {
   font-family:Montserat-black;
   src:url(../fonts/Montserrat-Black.ttf);
}


@font-face {
   font-family:Montserat-black;
   src:url(../fonts/Montserrat-Black.otf);
}


@font-face {
  font-family: Montserrat-ExtraBold;
  src:url(../fonts/Montserrat-ExtraBold_0.ttf);
}


@font-face {
  font-family: Montserrat-ExtraBold;
  src:url(../fonts/Montserrat-ExtraBold_0.otf);
}

.kafil-heading{font-family:Montserrat-ExtraBold !important; font-size:50px; }

.impectvideo1 {
    background: url("../img/monitorimg.PNG");
        background-repeat: repeat;
    background-repeat: no-repeat;
    padding: 1% 1% 10% 1%;
}
 

