﻿<div class="container-fluid">

    <div class="row">

        <div class="col-md-3" ng-show="isHome">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG4.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">YOUR DREAM HOME</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG4');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG12.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">CHILD’S EDUCATION</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG12');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isEducation">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG5.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">YOUR EDUCATION</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG5');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isBike">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG1.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">YOUR DREAM BIKE</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG1');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isTravel">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG6.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">TRAVEL PLANS</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG6');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG13.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">CHILD'S WEDDING</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG13');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isCar">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG3.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">YOUR DREAM CAR</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG3');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isWedding">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG7.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">YOUR WEDDING</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG7');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isFamilyPlanning">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG11.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">FAMILY PLANNING</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG11');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isSabbatical">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG10.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">SABBATICAL</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG10');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isRetirement">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG9.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">RETIREMENT</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG9');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isBusiness">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG2.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">NEW BUSINESS</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG2');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG14.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">OTHER GOALS</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG14');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="isWealth">
            <div class="card card-chart" style="text-align:center;">
                <div class="card-header card-header-image" style="margin-top: -4em;">
                    <a href="javascript:void(0);">
                        <img src="../../../../assets/img/Goal/Icon/FG8.png" class="img-thumbnail" style="width:50%; border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="margin: -1em 0em 1em 0em;">
                        <a href="javascript:void(0);">WEALTH CREATION</a>
                    </h4>
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event,'FG8');">Let's Start<i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>

    </div>

</div>