﻿
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3" ng-show="allFilters.memberNames.length>1">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Investor</label>
                <md-select ng-model="ddlMember">
                    <md-option ng-repeat="Member in allFilters.memberNames" value="{{Member.Value}}">
                        {{Member.Key}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-md-3">
            <md-input-container class="md-block" flex-gt-sm>
                <label>From Date</label>
                <md-datepicker ng-model="txtstartdate"></md-datepicker>
            </md-input-container>
        </div>

        <div class="col-md-3">
            <md-input-container class="md-block" flex-gt-sm>
                <label>To Date</label>
                <md-datepicker ng-model="txtenddate"></md-datepicker>
            </md-input-container>
        </div>

        <div class="col-md-3">
            <md-button class="md-raised md-primary" ng-click="search();">search</md-button>
        </div>

    </div>

    <div class="row" ng-show="passbookAllItems.passbookItms.length>0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <!--<div class="col-md-4">
                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                            <label>Filter By</label>
                            <md-select ng-model="ddlFilterBy">
                                <md-option ng-repeat="fltr in passbookFilters" value="{{fltr.value}}">
                                    {{fltr.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>-->
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                            <label>Enter search text..</label>
                            <input ng-model="txtSearchData" type="text" ng-change="searchTextChange();">
                        </md-input-container>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <span class="badge badge-secondary badge-pill badge-warning"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>In-Process&nbsp;
                        <span class="badge badge-secondary badge-pill badge-danger"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>Failed&nbsp;
                        <span class="badge badge-secondary badge-pill badge-success"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>Success&nbsp;
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-color-fin">
                            <tr>
                                <th><strong>Scheme</strong></th>
                                <th><strong>Amount</strong></th>
                                <th><strong>Status</strong></th>
                                <th><strong>Type</strong></th>
                                <th><strong>Date</strong></th>
                                <th><strong>Folio</strong></th>
                                <th><strong>Units</strong></th>
                                <th><strong>Nav</strong></th>
                                <th><strong>Goal</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in passbookItems">
                                <td style="width:15%">{{item.schemeShortName}}</td>
                                <td>Rs.{{item.amount}}</td>
                                <td ng-show="item.investStatus.toLowerCase()=='inprocess'">
                                    <span class="badge badge-secondary badge-pill badge-warning"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                </td>
                                <td ng-show="item.investStatus.toLowerCase()=='failed'">
                                    <span class="badge badge-secondary badge-pill badge-danger"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                    <span style="font-size:12px;cursor:pointer;"><md-tooltip md-direction="top">{{item.failReason}}</md-tooltip>?</span>
                                </td>
                                <td ng-show="item.investStatus.toLowerCase()!='inprocess' && item.investStatus.toLowerCase()!='failed'">
                                    <span class="badge badge-secondary badge-pill badge-success"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                </td>
                                <td ng-show="item.subTranType.toLowerCase()=='so' || item.subTranType.toLowerCase()=='r'"><span style="color:#ff9800">(<i class="material-icons" style="font-size:10px;">remove</i>)Debit</span><br /> [{{item.tranType}}]</td>
                                <td ng-show="item.subTranType.toLowerCase()!='so' && item.subTranType.toLowerCase()!='r'"><span style="color:#4caf50">(<i class="material-icons" style="font-size:10px;">add</i>)Credit</span><br /> [{{item.tranType}}]</td>
                                <td>{{item.txnDate}}</td>
                                <td>{{item.foliono}}</td>
                                <td>{{item.units?item.units:'n/a'}}</td>
                                <td>{{item.nav?item.nav:'n/a'}}</td>
                                <td>
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="goal in item.passbookGoals">
                                                <td>
                                                    <img ng-if="goal.goalName" src="../../../../assets/img/Goal/icon/{{goal.goalCode.trim().toUpperCase()}}.png" style="height: 3em;" />{{goal.goalName?goal.goalName:'n/a'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="item in passbookItems">

            <div class="card card-stats" ng-show="item.subTranType.toLowerCase()=='so' || item.subTranType.toLowerCase()=='r'">
                <div class="card-header card-header-yellow card-header-icon">
                    <div class="card-icon">
                        {{item.txnDate | date:'shortDate'}}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#pablo">Get More Space...</a>
                    </div>
                </div>
            </div>-->
        <!--<div class="card card-stats" ng-show="item.subTranType.toLowerCase()!='so' && item.subTranType.toLowerCase()!='r'">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">

                </div>
                <p class="card-category">{{item.schemeShortName}}</p>
                <h3 class="card-title">{{item.amount}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="#pablo">Get More Space...</a>
                </div>
            </div>
        </div>-->

    </div>

    <div class="row" ng-show="passbookAllItems.passbookItms.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Transactions !!</div>
            </div>
        </div>
    </div>

</div>




