﻿<div class="container-fluid">

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8" ng-show="isCorrectData">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0);">
                        <img class="img" src="../../../../assets/img/checked.png" ng-if="paymentstatusdata.txnStatus=='success'" />
                        <img class="img" src="../../../../assets/img/cancel.png" ng-if="paymentstatusdata.txnStatus!='success'" />
                    </a>
                </div>
                <div class="card-body">
                    <span class="md-title" ng-if="paymentstatusdata.txnStatus=='success'">Transaction successfully done</span>
                    <span class="md-title" ng-if="paymentstatusdata.txnStatus!='success'">Transaction failed</span>
                    <h4 class="card-title">Transaction Id : {{paymentstatusdata.txnId}}</h4>
                    <p class="card-description" ng-if="paymentstatusdata.txnStatus=='success'">
                        Your transaction of Rs.{{paymentstatusdata.txnTotalAmount}} is successfully completed.
                    </p>
                    <p class="card-description" ng-if="paymentstatusdata.txnStatus!='success'">
                        Your transaction of Rs.{{paymentstatusdata.txnTotalAmount}} is failed.
                        <span style="color:#ce4040;">[Reason: <span style="color:#999999;">{{paymentstatusdata.txnFailReason}}</span> ]</span>
                        <md-button md-no-ink class="md-primary" style="margin-bottom:0px;" ng-click="gotocart();">Click here to try again!</md-button>
                    </p>
                    <div class="row" ng-show="paymentstatusdata.txnLogDetails.length>0">
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-header card-header-primary" style="background: linear-gradient(60deg, #0056a7, #0056a7);">
                                    <h4 class="card-title mt-0"> Transaction Details</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                            <th>
                                                Scheme
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Foliono
                                            </th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in paymentstatusdata.txnLogDetails">
                                                    <td>
                                                        {{item.schemeName}}
                                                    </td>
                                                    <td>
                                                        Rs.{{item.amount}}
                                                    </td>
                                                    <td>
                                                        {{item.folioNo}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="javascript:void();" class="btn" style="background-color:#0056a7;" ng-click="gotodashboard();" ng-show="paymentstatusdata.txnStatus=='success'">Ok</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-show="isWrongData">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0);">
                        <img class="img" src="../../../../assets/img/cancel.png" />
                    </a>
                </div>
                <div class="card-body">
                    <span class="md-title">Invalid Access!!</span>
                    <p class="card-description">
                        <md-button md-no-ink class="md-primary" style="margin-bottom:0px;" ng-click="gotodashboard();">Go To Dashboard</md-button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
