﻿
<div class="container-fluid">
    <div class="row" ng-show="FullSummaryList.fullSummaryList.length>0">
        <div class="col-lg-6 col-md-12" ng-repeat="FullSummary in FullSummaryList.fullSummaryList track by $index">
            <div class="card">
                <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                        <h4 class="card-title">{{FullSummary.applicant}}</h4>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td> {{ShortSummary.gain>0?'Gain':'Loss'}} </td>
                                <td>
                                    <strong> Rs.{{FullSummary.gain}} </strong>
                                </td>
                            </tr>
                            <tr>
                                <td> Total Available Amt. </td>
                                <td> <strong>  Rs.{{FullSummary.currentAmt}}</strong> </td>
                            </tr>
                            <tr>
                                <td> Total Invested Amt. </td>
                                <td> <strong>  Rs.{{FullSummary.purchase}} </strong> </td>
                            </tr>
                            <tr>
                                <td> Ann. Return (XIRR)  </td>
                                <td> <strong> {{FullSummary.xirr}} %</strong>  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12" ng-show="FullSummaryList.fullSummaryList.length>0">
            <div class="card">
                <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                        <h4 class="card-title">Total Investment Summary</h4>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th></th>
                                <th>Purchase</th>
                                <th>Switch-In</th>
                                <th>Switch-Out</th>
                                <th>Sell</th>
                                <th>Div. Payout</th>
                                <th>Ann. Return(XIRR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="FullSummary in FullSummaryList.fullSummaryList track by $index">
                                <td><strong>{{FullSummary.applicant}}</strong></td>
                                <td>Rs.{{FullSummary.purchase}}</td>
                                <td>Rs.{{FullSummary.switchIn}}</td>
                                <td>Rs.{{FullSummary.switchOut}}</td>
                                <td>Rs.{{FullSummary.sell}}</td>
                                <td>Rs.{{FullSummary.divPayout}}</td>
                                <td>{{FullSummary.xirr}}%</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rs.{{ShortSummary.totalInvestedAmt}}</td>
                                <td>Rs.{{ShortSummary.switchIn}}</td>
                                <td>Rs.{{ShortSummary.switchOut}}</td>
                                <td>Rs.{{ShortSummary.sell}}</td>
                                <td>Rs.{{ShortSummary.divPayout}}</td>
                                <td>{{ShortSummary.xirr}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="FullSummaryList.fullSummaryList.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Investments !!</div>
            </div>
        </div>
    </div>
</div> 