﻿<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="" class="simple-text logo-normal">
                <img src="assets/img/LOGO-TM.png">
            </a>
        </div>

        <div class="sidebar-wrapper">

            <div style="padding-bottom: 0.5em;margin: 20px auto 0;position: relative;">
                <div style="width: 34px;height: 34px;overflow: hidden;float: left;z-index: 5;margin-right: 11px;border-radius: 50%;margin-left: 23px;box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)">
                    <img ng-src="{{grpLdrProfilePic?grpLdrProfilePic:'../../../assets/img/default-profile-icon.png'}}" style="height: 2.1em;" />
                </div>
                <div style="padding-top: 0.8em;font-size:13px;">
                    {{userdetails.name}}
                </div>
                <div style="padding-bottom: -1em;font-size:13px;" class="text-color-fin">
                    {{userdetails.userid}}
                </div>
            </div>

            <ul class="nav">
                <li class="{{currActiveTab=='overview'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/overview">
                        <!--<i class="material-icons">dashboard</i>-->
                        <img src="../../../assets/img/Menu/Icon/Dashboard.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Dashboard</p>
                    </a>
                </li>
                <!--<li class="{{currActiveTab=='primeservices'?'nav-item active':'nav-item'}}" ng-if="userdetails.isPrime && userCafStatus=='success'">
                    <a class="nav-link" href="#/dashboard/primeservices">
                        <i class="material-icons">headset_mic</i>
                        <p>Prime Service</p>
                    </a>
                </li>-->
                <li class="{{currActiveTab=='goalFullView'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/goalFullView">
                        <!--<i class="material-icons">bubble_chart</i>-->
                        <img src="../../../assets/img/Menu/Icon/Goals.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Goals</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='profile'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="javascript:void(0);" ng-click="gotoProfile();">
                        <img src="../../../assets/img/Menu/Icon/Profile.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Profile</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='allinvestments'?'nav-item active':'nav-item'}}" ng-if="userCafStatus == 'success'">
                    <a class="nav-link" href="#/dashboard/allinvestments">
                        <!--<i class="material-icons">content_paste</i>-->
                        <img src="../../../assets/img/Menu/Icon/Investments.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Investments</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='cart'?'nav-item active':'nav-item'}}" ng-if="userCafStatus == 'success'">
                    <a class="nav-link" href="#/dashboard/cart">
                        <img src="../../../assets/img/Menu/Icon/Cart.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p> Cart </p>
                    </a>
                </li>
                <li class="{{currActiveTab=='newgoal'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/newgoal">
                        <!--<i class="material-icons">bubble_chart</i>-->
                        <img src="../../../assets/img/Menu/Icon/SetNewGoals.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Set New Goals</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='investmentccount'?'nav-item active':'nav-item'}}" ng-if="userCafStatus == 'success'">
                    <a class="nav-link" href="#/dashboard/investmentccount">
                        <!--<i class="material-icons">account_box</i>-->
                        <img src="../../../assets/img/Menu/Icon/InvestmentAccount.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Investment Account</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='passbook'?'nav-item active':'nav-item'}}" ng-if="userCafStatus == 'success'">
                    <a class="nav-link" href="#/dashboard/passbook">
                        <!--<i class="material-icons">chrome_reader_mode</i>-->
                        <img src="../../../assets/img/Menu/Icon/Passbook.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Passbook</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='quickSip'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/quickSip">
                        <!--<i class="material-icons">dialer_sip</i>-->
                        <img src="../../../assets/img/Menu/Icon/QuickSip.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Quick Sip</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='savingaccount'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/savingaccount">
                        <!--<i class="material-icons">attach_money</i>-->
                        <img src="../../../assets/img/Menu/Icon/BestSaverAccount.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Best Saver Account</p>
                    </a>
                </li>
                <li class="{{currActiveTab=='taxSaving'?'nav-item active':'nav-item'}}">
                    <a class="nav-link" href="#/dashboard/taxSaving">
                        <!--<i class="material-icons">attach_money</i>-->
                        <img src="../../../assets/img/Menu/Icon/TaxSaving.png" style="font-size: 24px;float: left;margin-right: 15px;line-height: 30px;width: 30px;padding:3px;background-color:#fff;" />
                        <p>Tax Saving</p>
                    </a>
                </li>
            </ul>

            <div>

            </div>




        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:void(0);">{{mainheader}}</a> <img ng-if="mainheaderimg" ng-src="{{mainheaderimg}}" style="height: 3em;" />
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" ng-if="userCafStatus == 'success'">
                            <a class="nav-link" href="javascript:void(0);">
                                <span class="notification" style="background-color:#43a047;font-size:11px;" ng-if="userdetails.isPrime">Prime</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown" ng-if="userCafStatus == 'success'">
                            <a class="nav-link" href="#/dashboard/cart">
                                <i class="material-icons">shopping_cart</i>
                                <span class="notification" ng-if="mainheader!='Cart' && cartTotalCount>0">{{cartTotalCount}}</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown" ng-if="userCafStatus == 'success'">
                            <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <span class="notification" ng-show="sipNotifyData.length>0">{{sipNotifyData.length}}</span>
                                <p class="d-lg-none d-md-block" ng-show="sipNotifyData.length>0">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" ng-show="sipNotifyData.length>0">
                                <a class="dropdown-item" href="#/dashboard/systematicReminder" ng-repeat="data in sipNotifyData">{{'Coming '+data.trxnType+' of Rs.'+data.amount+' on '+data.sysmDate.replace('00:00:00','')}}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0);" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <!--<a class="dropdown-item" href="javascript:void(0);">Profile</a>
                                <a class="dropdown-item" href="javascript:void(0);">Settings</a>
                                <div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="javascript:void(0);" ng-click="userlogout();">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!--placeholder-->
        <div class="content">
            <div ui-view="dashboardview"></div>
        </div>
        <!--placeholder-->

    </div>
</div>