﻿<div class="container-fluid">

    <div class="row" ng-show="isMemberLoaded">
        <div class="col-md-6" ng-show="MemberList.length>1">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Investor</label>
                <md-select ng-model="ddlMember" ng-change="memberChange();">
                    <md-option ng-repeat="Member in MemberList" value="{{Member.basicid}}">
                        {{Member.memberName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-6" ng-show="ProfileList.length>1">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Investment A/C</label>
                <md-select ng-model="ddlProfile" ng-change="profileChange();">
                    <md-option ng-repeat="profile in ProfileList" value="{{profile.profileID}}">
                        {{profile.InvestProfile}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

    </div>

    <div class="row" ng-show="isCartLoaded && CartList.userCartDetailsList.length>0">
        <md-toolbar style="margin-bottom: 1em;background-color:transparent;color:#000000;" ng-show="totalAmt>0">
            <div class="md-toolbar-tools" layout-align="end center">
                <h2 class="md-flex">Total: Rs.{{totalAmt}}</h2>
                <span flex="10"></span>
                <button class="btn btn-success" ng-click="showPaymentPopup($event);">Continue</button>
            </div>
        </md-toolbar>

        <div class="col-md-4" ng-repeat="Cart in CartList.userCartDetailsList" style="margin: 0em 0em 0.5em 0em;">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-header style="padding-bottom: 0px;">
                        <md-card-avatar style="height:4em;width:4em;margin-top: -2em;">
                            <img ng-src="{{Cart.goalImg}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{Cart.goalName}}</span>
                        </md-card-header-text>
                        <md-card-header-media ng-click="openPopUp($event,Cart.schemeName,Cart.cartId,null,'removecart');" style="cursor:pointer;">
                            <div class="md-media-lg card-media">
                                <i class="material-icons" style="font-size:20px;">delete</i>
                            </div>
                        </md-card-header-media>
                    </md-card-header>
                    <md-card-title style="padding-bottom:0;padding-top:0;">
                        <md-card-title-text>
                            <span class="md-subhead">{{Cart.schemeName}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" style="padding-bottom:0;">
                        <md-card-title style="padding:0;">
                            <md-card-title-text>
                                <span class="md-subhead">
                                    <span class="badge">
                                        <span class="md-subhead">
                                            <span class="md-title">
                                                Rs.{{Cart.amount}}
                                            </span>
                                        </span><br />
                                        {{Cart.tranType.trim().toUpperCase()=='ISIP'?'Invest Monthly':'Invest OneTime'}}
                                    </span>

                                    <span class="badge pull-right" ng-show="Cart.folioNo=='New'">
                                        <i class="material-icons" ng-if="Cart.fundRating==1 || Cart.fundRating==2 || Cart.fundRating==3 || Cart.fundRating==4 || Cart.fundRating==5">star_border</i>
                                        <i class="material-icons" ng-if="Cart.fundRating==2 || Cart.fundRating==3 || Cart.fundRating==4 || Cart.fundRating==5">star_border</i>
                                        <i class="material-icons" ng-if="Cart.fundRating==3 || Cart.fundRating==4 || Cart.fundRating==5">star_border</i>
                                        <i class="material-icons" ng-if="Cart.fundRating==4 || Cart.fundRating==5">star_border</i>
                                        <i class="material-icons" ng-if="Cart.fundRating==5">star_border</i>
                                        <br />
                                        {{Cart.ratingVendor}}
                                    </span>

                                    <span class="badge " ng-show="Cart.folioNo!='New'">
                                        <span class="md-subhead">{{Cart.folioNo}}</span>
                                        <br />
                                        Folio No
                                    </span>
                                </span>

                                <span class="md-subhead " ng-if="Cart.tranType!='NOR'">
                                    <span class="badge ">
                                        <span class="md-subhead">
                                            {{Cart.sipStartDate}}
                                        </span><br />
                                        Start Date
                                    </span>
                                    <span class="badge  pull-right">
                                        <span class="md-subhead">
                                            {{Cart.sipEndDate}}
                                        </span><br />
                                        End Date
                                    </span>
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                    <hr style="background-color:#808080"/> 
                    <md-card-actions layout="row" layout-align="end center" style="background-color: #0056a7; margin: 0px; padding-top: 2%; padding-right: 4%; border-bottom-left-radius: 3px; border-bottom-right-radius:3px; color: #fff; ">
                        <md-checkbox  ng-checked="exists(Cart, CartIdList)" ng-click="toggle($event,Cart, CartIdList)">Select To Pay</md-checkbox>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

        <md-toolbar style="margin-bottom: 1em;background-color:transparent;color:#000000;" ng-show="totalAmt>0">
            <div class="md-toolbar-tools" layout-align="end center">
                <h2 class="md-flex">Total: Rs.{{totalAmt}}</h2>
                <span flex="10"></span>
                <button class="btn btn-success" ng-click="showPaymentPopup($event);">Continue</button>
            </div>
        </md-toolbar>
    </div>

    <div class="row" ng-show="isCartLoaded && CartList.userCartDetailsList.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png"/>
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">Your cart is empty!!</div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="removecart.tmpl.html">
    <md-dialog aria-label="Remove Cart">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{schemeName}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isCartRemoving">
            <div layout="row">
                <div class="md-dialog-content">
                    Are you sure to remove this scheme from cart?
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isCartRemoving">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                No
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="removeCart();">
                Yes
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isCartRemoving">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

<script type="text/ng-template" id="payment-popup-template.html">
    <md-bottom-sheet class="md-grid" layout="column">
        <div layout="row" layout-align="center center" ng-cloak>
            <h3>{{bankName}} (<code>{{accountNo}}</code>)</h3>
        </div>
        <div ng-cloak>
            <md-list flex layout="row" layout-align="center center">
                <md-list-item ng-repeat="item in items">
                    <div>
                        <md-checkbox class="md-grid-item-content" ng-checked="checkedMode(item)" ng-click="listItemClick(item)">
                            <img ng-src="{{item.modeImg}}" style="height: 1.5em;margin: 0em 0em -0.3em 0.8em;" />
                            <div class="md-grid-text" style="margin-left: 0.5em;"> {{ item.payType }} </div>
                        </md-checkbox>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div layout="row" layout-align="center center" ng-cloak ng-show="selectedMode">
            <button class="btn btn-success" ng-click="payment();">Continue to pay</button>
        </div>
    </md-bottom-sheet>
</script>

<script type="text/ng-template" id="redirectPaymentGateway.tmpl.html">
    <md-dialog aria-label="Redirecting to payment gateway">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Redirecting to payment gateway</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="row" layout-align="center center">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>