﻿<div class="container-fluid">

    <div class="row" ng-show="isData">

        <div class="col-md-6" ng-repeat="data in FullSummaryList.fullSummaryList track by $index">
            <div class="card card-chart">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">pie_chart</i>
                    </div>
                    <h4 class="card-title">{{data.applicant}} Allocation's (%)</h4>
                </div>
                <div class="card-body">
                    <nvd3 options="options" data="getdata(data)"></nvd3>
                </div>
            </div>
        </div>

        <div class="col-md-6" ng-repeat="data in FullSummaryList.fullSummaryList track by $index">
            <div class="card">
                <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                        <h4 class="card-title">{{data.applicant}} Allocation's (Amt.)</h4>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th></th>
                                <th>Equity</th>
                                <th>Debt</th>
                                <th>Hybrid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Invested Amt.</td>
                                <td>Rs.{{data.equityInvestValue}}</td>
                                <td>Rs.{{data.debtInvestValue}}</td>
                                <td>Rs.{{data.hybridInvestValue}}</td>
                            </tr>
                            <tr>
                                <td>Current Amt.</td>
                                <td>Rs.{{data.equityCurrValue}}</td>
                                <td>Rs.{{data.debtCurrValue}}</td>
                                <td>Rs.{{data.hybridCurrValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-show="!isData">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Investments !!</div>
            </div>
        </div>
    </div>

</div>