﻿<div class="container-fluid">

    <div class="row" ng-show="isDataLoaded">
        <div class="col-md-4" ng-show="investedGoals.length<1">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                        <img ng-src="../../../../assets/img/complete-profile-icon.png" class="img-thumbnail" style="border-radius:0px !important;" ng-show="userdetails.cafstatus" />
                        <img ng-src="../../../../assets/img/incomplete-profile-icon.png" class="img-thumbnail" style="border-radius:0px !important;" ng-show="!userdetails.cafstatus" />
                    </div>
                    <div class="pull-right">
                        KYC <span class="badge badge-pill badge-success" ng-if="userdetails.kycstatus=='success'">Done</span><span class="badge badge-pill badge-danger" ng-if="userdetails.kycstatus=='pending'">Pending</span><span class="badge badge-pill badge-warning" ng-if="userdetails.kycstatus=='inprocess'">In-Process</span>
                        Profile <span class="badge badge-pill badge-success" ng-if="userdetails.cafstatus=='success'">Done</span><span class="badge badge-pill badge-danger" ng-if="userdetails.cafstatus=='pending'">Pending</span><span class="badge badge-pill badge-warning" ng-if="userdetails.cafstatus=='inprocess'">In-Process</span>
                    </div>
                </div>

                <div class="card-body" ng-show="userdetails.kycstatus!='pending' && userdetails.cafstatus=='success'">
                    <div class="pull-left">
                        <h6 class="card-title"> Now you ready to investment </h6>
                        <h6 class="card-title" style="font-size:11px;"> KYC & CAF {{userdetails.kycstatus=='inprocess'?'In-Proccess':'Completed'}}. </h6>
                    </div>
                </div>
                <div class="card-footer" ng-show="userdetails.kycstatus!='pending' && userdetails.cafstatus=='success'">
                    <div class=" dashboardCartviewtext">
                        <h6 class="card-title" style="font-size:11px;"> You can choose any below option to invest. </h6>
                    </div>
                </div>

                <div class="card-body" ng-show="userdetails.kycstatus=='pending' || userdetails.cafstatus!='success'">
                    <div class="pull-left">
                        <h6 class="card-title"> You are not ready to investment </h6>
                        <h6 class="card-title" style="font-size:8px;"> KYC & CAF In-Complete. </h6>
                    </div>
                </div>
                <div class="card-footer" ng-show="userdetails.kycstatus=='pending' || userdetails.cafstatus!='success'">
                    <div class=" dashboardCartviewtext">
                        Complete Profile
                    </div>
                    <div style="align-self: flex-start">
                        <a href="javascript:void(0);" ng-click="completeProfile();"><img src="assets/img/right-arrow.png"></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-success cartbgcolor">
                    <table class="table">
                        <tr>
                            <td> {{ShortSummary.gain>0?'Gain':'Loss'}} </td>
                            <td> <strong>  Rs. {{ShortSummary.gain}}</strong> </td>
                        </tr>
                        <tr>
                            <td> Total Available Amt. </td>
                            <td> <strong>  Rs. {{ShortSummary.totalInvestedAmt}}</strong> </td>
                        </tr>
                        <tr>
                            <td> Total Invested Amt. </td>
                            <td> <strong>  Rs. {{ShortSummary.netInvestedAmt}} </strong> </td>
                        </tr>
                        <tr>
                            <td> Ann. Return (XIRR)  </td>
                            <td> <strong> {{ShortSummary.xirr}} % </strong>  </td>
                        </tr>

                    </table>
                </div>
                <div class="card-footer">
                    <div class=" dashboardCartviewtext">
                        View All Investment Summary
                    </div>
                    <div style="align-self: flex-start">
                        <a href="#/dashboard/summaryFullView"><img src="assets/img/right-arrow.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-show="investedGoals.length>0">
            <div class="card card-chart ">
                <div class="card-header card-header-warning cartbgcolor">
                    <table class="table">
                        <tr>
                            <td> <h4 class="card-title"> DEBT </h4>  </td>
                            <td>
                                <h4 class="card-title">  {{ShortSummary.debtPerc?ShortSummary.debtPerc:0}} %  </h4>
                            </td>
                        </tr>
                        <tr>
                            <td> <h4 class="card-title"> EQUITY </h4>  </td>
                            <td>
                                <h4 class="card-title">    {{ShortSummary.equityPerc?ShortSummary.equityPerc:0}}%  </h4>
                            </td>
                        </tr>

                        <tr>
                            <td> <h4 class="card-title"> HYBRID </h4>  </td>
                            <td>
                                <h4 class="card-title">    {{ShortSummary.hybridPerc?ShortSummary.hybridPerc:0}}%  </h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <div class=" dashboardCartviewtext">
                        View All Allocation Summary
                    </div>
                    <div style="align-self: flex-start">
                        <a href="#/dashboard/allocationStatistics"><img src="assets/img/right-arrow.png"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                        <img ng-src="../../../../assets/img/Goal/icon/FG220.png" class="img-thumbnail" style="border-radius:0px !important;" />
                    </div>
                    <div class="pull-right"> Quick SIP </div>
                </div>

                <div class="card-body">
                    <div class="pull-left">
                        Start Early + Invest Regularly
                    </div>
                    <div class="pull-right">
                        <h6 class="card-title"> = Create Wealth </h6>
                    </div>
                </div>

                <div class="card-footer">
                    <div class=" dashboardCartviewtext">
                        Start to Invest
                    </div>
                    <div style="align-self: flex-start">
                        <a href="#/dashboard/quickSip"><img src="assets/img/right-arrow.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="row">
        <div class="col-md-8">
            <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length==0 && isDataLoaded">
                <div style="text-align:left; margin-right:70%"> <h3 style="border-bottom:2px solid #808080"> Goal Planning </h3> </div>
                <span style="font-size:0.8em"> Roadmap to achieving goals with best mutual fund  </span>
            </div>
            <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length==0">
                <slick class="slider" settings="slickConfigStartUGoal">
                    <div class="col-md-6" ng-repeat="goalappr in approachedGoals">
                        <div class="card card-chart">
                            <div class="card-body">

                                <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                                    <img ng-src="{{'../../../../assets/img/Goal/icon/'+goalappr.code.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                                </div>
                                <div class="pull-right"> {{goalappr.heading}}        </div>
                            </div>

                            <div class="card-body">
                                <div class="pull-left">
                                    <h4 class="card-title ng-binding"> {{goalappr.subheading}} </h4>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class=" dashboardCartviewtext">
                                    Start to Invest
                                </div>
                                <div style="align-self: flex-start">
                                    <a href="javascript:void(0);" ng-click="gotonewgoal($event,goalappr.code);"><img src="assets/img/right-arrow.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>

            <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length>0 && isDataLoaded">
                <div style="text-align:left; margin-right:60%"> <h3 style="border-bottom:2px solid #808080"> Start Investment </h3> </div>
                <span style="font-size:0.8em"> Activate your created goals by starting investment  </span>
            </div>
            <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length>0">
                <slick class="slider" settings="slickConfigCreatedUGoal" ng-hide="createdGoals.length<2">
                    <div class="col-md-6" ng-repeat="goal in createdGoals">
                        <div class="card card-chart">
                            <div class="card-body">

                                <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%">
                                    <img ng-src="{{'../../../../assets/img/Goal/icon/'+goal.goalCode.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                                </div>
                                <div class="pull-right"> {{goal.goalName}}        </div>
                            </div>

                            <div class="card-body">
                                <div class="pull-left">
                                    <h4 class="card-title ng-binding"> RS. {{goal.investedAmt}} </h4>
                                    <span style="font-size:0.9em;"> Invested Amount </span>
                                </div>
                                <div class="pull-right">
                                    <h4 class="card-title ng-binding"> RS. {{goal.currentAmt}}  </h4>
                                    <span style="font-size:0.9em;"> Current Amount </span>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class=" dashboardCartviewtext">
                                    Activate
                                </div>
                                <div style="align-self: flex-start">
                                    <a href="#/dashboard/goalFullView"><img src="assets/img/right-arrow.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>
                <div class="col-md-6" ng-repeat="goal in createdGoals" ng-show="createdGoals.length<2">
                    <div class="card card-chart">
                        <div class="card-body">

                            <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%">
                                <img ng-src="{{'../../../../assets/img/Goal/icon/'+goal.goalCode.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                            </div>
                            <div class="pull-right"> {{goal.goalName}}        </div>
                        </div>

                        <div class="card-body">
                            <div class="pull-left">
                                <h4 class="card-title ng-binding"> RS. {{goal.investedAmt}} </h4>
                                <span style="font-size:0.9em;"> Invested Amount </span>
                            </div>
                            <div class="pull-right">
                                <h4 class="card-title ng-binding"> RS. {{goal.currentAmt}}  </h4>
                                <span style="font-size:0.9em;"> Current Amount </span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                Activate
                            </div>
                            <div style="align-self: flex-start">
                                <a href="#/dashboard/goalFullView"><img src="assets/img/right-arrow.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-show="investedGoals.length>0 && isDataLoaded">
                <div style="text-align:left; margin-right:60%"> <h3 style="border-bottom:2px solid #808080"> My Current Goals </h3> </div>
                <span style="font-size:0.8em"> Current goals progress  </span>
            </div>
            <div class="col-md-12" ng-show="investedGoals.length>0">
                <slick class="slider" settings="slickConfigInvestedGoal">
                    <div class="col-md-6" ng-repeat="goal in investedGoals">
                        <div class="card card-chart">
                            <div class="card-body">

                                <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                                    <img ng-src="{{'../../../../assets/img/Goal/icon/'+goal.goalCode.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                                </div>
                                <div class="pull-right"> {{goal.goalName}}        </div>
                            </div>

                            <div class="card-body">
                                <div class="pull-left">
                                    <h4 class="card-title ng-binding"> RS. {{goal.investedAmt}} </h4>
                                    <span style="font-size:0.9em;"> Invested Amount </span>
                                </div>
                                <div class="pull-right">
                                    <h4 class="card-title ng-binding"> RS. {{goal.currentAmt}}  </h4>
                                    <span style="font-size:0.9em;"> Current Amount </span>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class=" dashboardCartviewtext">
                                    Full View
                                </div>
                                <div style="align-self: flex-start">
                                    <a href="#/dashboard/goalFullView"><img src="assets/img/right-arrow.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </slick>

            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12" ng-show="dashboardNotifications.sipShortReminder.upcomingSipCount>0">
                <div style="text-align:left;"> <h3 style="border-bottom:2px solid #808080"> Your Upcoming SIP's </h3> </div>
                <span style="font-size:0.8em"> Maintain your account balance for sip's </span>
            </div>
            <div class="col-md-12" ng-show="dashboardNotifications.sipShortReminder.upcomingSipCount>0">
                <div class="card card-chart">
                    <div class="card-header card-header-success cartbgcolor">
                        <table class="table">
                            <tr>
                                <td> Total Number of SIP's </td>
                                <td> <strong> {{dashboardNotifications.sipShortReminder.upcomingSipCount}} </strong> </td>
                            </tr>
                            <tr>
                                <td> Total SIP's Amount </td>
                                <td> <strong>  Rs. {{dashboardNotifications.sipShortReminder.totalAmount}}   </strong> </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class=" dashboardCartviewtext">
                            View All Systematic Investment Date
                        </div>
                        <div style="align-self: flex-start">
                            <a href="#/dashboard/systematicReminder"><img src="assets/img/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-show="dashboardNotifications.sipShortReminder.upcomingSipCount<1">
                <div style="text-align:right; margin-right:25%"> <h3 style="border-bottom:2px solid #808080"> Save your tax </h3> </div>
                <span style="font-size:0.6em"> Save tax and build wealth </span>
            </div>
            <div class="col-md-12" ng-show="dashboardNotifications.sipShortReminder.upcomingSipCount<1">
                <div class="card card-chart">
                    <div class="card-body">
                        <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                            <img ng-src="../../../../assets/img/Goal/icon/FG104.png" class="img-thumbnail" style="border-radius:0px !important;" />
                        </div>
                        <div class="pull-right"> Tax Saving </div>
                    </div>

                    <div class="card-body">
                        <div class="pull-left">
                            <h6 class="card-title ng-binding"> Save RS. 46,500 </h6>
                        </div>
                        <div class="pull-right">
                            <h6 class="card-title ng-binding"> Save Tax + Build Wealth </h6>
                            <span class="pull-right" style="font-size:0.9em;"> =ELSS </span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class=" dashboardCartviewtext">
                            Start to invest
                        </div>
                        <div style="align-self: flex-start">
                            <a href="#/dashboard/taxSaving"><img src="assets/img/right-arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="row">
        <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length>0 && isDataLoaded">
            <div class="pull-left">  <h3 style="border-bottom:2px solid #808080"> <span style="font-size:0.7em">  </span>  Trending Goals </h3> </div>
        </div>
        <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length>0">
            <slick class="slider" settings="slickConfigStartDGoal">
                <div class="col-md-6" ng-repeat="goalappr in approachedGoals">
                    <div class="card card-chart">
                        <div class="card-body">
                            <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                                <img ng-src="{{'../../../../assets/img/Goal/icon/'+goalappr.code.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                            </div>
                            <div class="pull-right"> {{goalappr.heading}}        </div>
                        </div>

                        <div class="card-body">
                            <div class="pull-left">
                                <h4 class="card-title"> {{goalappr.subheading}} </h4>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                Start to Invest
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" ng-click="gotonewgoal($event,goalappr.code);"><img src="assets/img/right-arrow.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>
        </div>

        <div class="col-md-12" ng-show="investedGoals.length>0 && isDataLoaded">
            <div class="pull-left">  <h3 style="border-bottom:2px solid #808080"> <span style="font-size:0.7em">  </span>  Start Investment </h3> </div>
        </div>
        <div class="col-md-12" ng-show="investedGoals.length>0">
            <slick class="slider" settings="slickConfigCreatedDGoal">
                <div class="col-md-6" ng-repeat="goal in createdGoals">
                    <div class="card card-chart">
                        <div class="card-body">

                            <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                                <img ng-src="{{'../../../../assets/img/Goal/icon/'+goal.goalCode.toUpperCase()+'.png'}}" class="img-thumbnail" style="border-radius:0px !important;" />
                            </div>
                            <div class="pull-right"> {{goal.goalName}}        </div>
                        </div>

                        <div class="card-body">
                            <div class="pull-left">
                                <h4 class="card-title"> RS. {{goal.investedAmt}} </h4>
                                <span style="font-size:0.9em;"> Invested Amount </span>
                            </div>
                            <div class="pull-right">
                                <h4 class="card-title"> RS. {{goal.currentAmt}}  </h4>
                                <span style="font-size:0.9em;"> Current Amount </span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                Activate
                            </div>
                            <div style="align-self: flex-start">
                                <a href="#/dashboard/goalFullView"><img src="assets/img/right-arrow.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>

        </div>

        <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length==0 && isDataLoaded">
            <div style="text-align:left; margin-right:70%"> <h3 style="border-bottom:2px solid #808080"> Impact Story </h3> </div>
            <span style="font-size:0.8em"> Watch our client's experience with us  </span>
        </div>
        <div class="col-md-12" ng-show="investedGoals.length==0 && createdGoals.length==0 && isDataLoaded">
            <slick class="slider" settings="slickConfigImpactStory">
                <div class="col-md-6" ng-repeat="story in impactStories">
                    <div class="card card-chart">
                        <div class="card-body">
                            <div class="pull-left" style="border-radius:0px !important; margin-top: -12%;">
                                <iframe class="img-thumbnail" style="border-radius:0px !important;" ng-src="{{validateurl(story.url)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="pull-left">
                                <h4 class="card-title ng-binding"> {{story.name}} </h4>
                                <span style="font-size:0.9em;"> {{story.title}} </span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                Watch
                            </div>
                            <div style="align-self: flex-start">
                                <a href="{{story.url}}" target="_blank"><img src="assets/img/right-arrow.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </slick>

        </div>

    </div>

</div>