﻿
<div class="container-fluid">
    <div class="row" ng-show="mandates.mandateList.length>0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <div class="col-md-6">
                        <h4 class="card-title">{{clientname}} Mandate's</h4>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <span class="badge badge-secondary badge-pill badge-warning"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>In-Process&nbsp;
                        <span class="badge badge-secondary badge-pill badge-danger"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>Failed&nbsp;
                        <span class="badge badge-secondary badge-pill badge-success"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>Success&nbsp;
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-color-fin">
                            <tr>
                                <th><strong>ID</strong></th>
                                <th><strong>Invest A/C</strong></th>
                                <th><strong>Verification</strong></th>
                                <th><strong>Status</strong></th>
                                <th><strong>Bank</strong></th>
                                <th><strong>Validity</strong></th>
                                <th><strong>Day Limit</strong></th>
                                <th><strong>UMRN</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in mandates.mandateList">
                                <td style="width:15%">{{item.MandateID}}</td>
                                <td>[{{item.moh}}] <br />{{item.profilename}}</td>
                                <td ng-show="!item.isactive && item.uploadstatus.toLowerCase()!='failure'">
                                    <span class="badge badge-secondary badge-pill badge-warning"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                </td>
                                <td ng-show="!item.isactive && item.uploadstatus.toLowerCase()=='failure'">
                                    <span class="badge badge-secondary badge-pill badge-danger"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                    <span style="font-size:12px;cursor:pointer;"><md-tooltip md-direction="top">{{item.reason}}</md-tooltip>?</span>
                                </td>
                                <td ng-show="item.isactive">
                                    <span class="badge badge-secondary badge-pill badge-success"><span class="md-subhead" style="color: transparent; line-height: 17px;">o</span></span>
                                </td>
                                <td ng-show="!item.isactive"><span style="color:#ff9800">In-Active</span></td>
                                <td ng-show="item.isactive"><span style="color:#4caf50">Active</span></td>
                                <td>{{item.Bank}}<br /> [{{item.AccountNo}}]</td>
                                <td ng-show="item.untilcancel">Until Cancel</td>
                                <td ng-show="!item.untilcancel">{{item.FromMonth}}/{{item.FromYear}} to {{item.ToMonth}}/{{item.ToYear}}</td>
                                <td>{{item.PerDayLimit}}</td>
                                <td>{{item.UMRN_NO}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-show="mandates.mandateList.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Mandates !!</div>
            </div>
        </div>
    </div>
</div>