﻿
<div class="container-fluid">
    <div class="row" ng-show="profiles.InvestmentAccounts.length>0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-text card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">payment</i>
                    </div>
                    <h4 class="card-title">
                        Investment Account's
                        <span class="pull-right">
                            <md-button class="md-icon-button"
                                       aria-label="More"
                                       ng-click="showToolbarMenu($event, more)">
                                <md-icon>more_vert</md-icon>
                            </md-button>
                        </span>
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>First Applicant</th>
                                <th>Second Applicant</th>
                                <th>Third Applicant</th>
                                <th>Mode of Holding</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="profile in profiles.InvestmentAccounts">
                                <td>{{profile.FirstApplicant?profile.FirstApplicant:'N/A'}}</td>
                                <td>{{profile.SecondApplicant?profile.SecondApplicant:'N/A'}}</td>
                                <td>{{profile.ThirdApplicant?profile.ThirdApplicant:'N/A'}}</td>
                                <td>{{profile.HoldingMode?profile.HoldingMode:'N/A'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="profiles.InvestmentAccounts.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Investment Account !!</div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="add.tmpl.html">
    <md-dialog aria-label="add">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Investment Account</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isProcessing">
            <div layout="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 25px 0 0px 0;">
                        <label>Mode of Holding</label>
                        <md-select ng-model="ddlModeOfHolding" ng-change="mohChange();">
                            <md-option ng-repeat="modeOfHolding in modeOfHoldings" value="{{modeOfHolding.value}}">
                                {{modeOfHolding.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="firstApplicantList.length>0" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 25px 0 0px 0;">
                        <label>Select First Applicant</label>
                        <md-select ng-model="ddlFirstApplicant" ng-change="firstApplicantChange();">
                            <md-option ng-repeat="firstApplicant in firstApplicantList" value="{{firstApplicant.basicid}}">
                                {{firstApplicant.memberName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="secondApplicantList.length>0 && !isSingleMoh" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 25px 0 0px 0;">
                        <label>Select Second Applicant</label>
                        <md-select ng-model="ddlSecondApplicant" ng-change="secondApplicantChange();">
                            <md-option ng-repeat="secondApplicant in secondApplicantList" value="{{secondApplicant.basicid}}">
                                {{secondApplicant.memberName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="thirdApplicantList.length>0 && !isSingleMoh" style="margin-bottom: 10px;">
                <div class="col-md-12">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 25px 0 0px 0;">
                        <label>Select Third Applicant</label>
                        <md-select ng-model="ddlThirdApplicant">
                            <md-option ng-repeat="thirdApplicant in thirdApplicantList" value="{{thirdApplicant.basicid}}">
                                {{thirdApplicant.memberName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="addInvestmentAccount();">
                Submit
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>