﻿


<div class="container-fluid">


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="kafil-heading" style="margin-top:20%; ">  Plan for Retirement  </h1>
                <p style="font-size:1.3em; margin-top:10%; line-height:2; ">
                    A retirement fund provides you with the means by which you can maintain a reasonable living standard after you retire without having to be dependant on other people for daily expenses. We take your current lifestyle and inflation rate in account to help you plan better. 
                </p>

            </div>

            <div class="col-lg-6">
                <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="isGoalLoaded">

                    <div class="card card-chart" style="background-color:#eee;display:inherit;text-align:center;">
                        <div class="card-header goalhead" ng-style="{'background-image': 'url({{goalImg}})'}">
                        </div>
                        <div class="card-footer" style="background-color:#eee;">
                            <div class="card card-chart" style="margin-top:-10%;margin-bottom:2%;z-index:10;">
                                <div class="card-header" style="border-radius:0px !important; margin-top: -15%;margin-left:35%; width: 30%;">
                                    <img ng-src="{{goalIcon}}" class="img-thumbnail" style="border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                                    <!--<img ng-src="{{goalImg}}" class="img-thumbnail" style="border-radius:0px !important;" />-->
                                </div>
                                <div class="card-footer">

                                    <table class="table" style="margin-top: -2em;" ng-show="currtypecode!='FG104'">
                                        <tr ng-show="currgoalcode=='FG6' || currgoalcode=='FG5' || currgoalcode=='FG12'">
                                            <td>{{goalLocationQuestion}}</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG6' || currgoalcode=='FG5' || currgoalcode=='FG12'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Select Location</label>
                                                    <md-select ng-model="selectedLocation" ng-change="locationChange();">
                                                        <md-option ng-repeat="locations in allLocations" value="{{locations.value}}">
                                                            {{locations.name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG14' || isLocationOther">
                                            <td>{{otherGoalNameQuestion}}</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG14' || isLocationOther">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>{{otherGoalNameQuestionPlaceHolder}}</label>
                                                    <input ng-model="txtothergoalname" type="text" maxlength="100" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG12' || currgoalcode=='FG13'">
                                            <td>What is your child name?</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG12' || currgoalcode=='FG13'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter child name</label>
                                                    <input ng-model="txtchildname" type="text" maxlength="100" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG9'">
                                            <td>What is your current age?</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG9'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter age in years</label>
                                                    <input ng-model="txtcurrage" type="number" maxlength="2" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG9'">
                                            <td>When do you want to retire?</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG9'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter age in years</label>
                                                    <input ng-model="txtretage" type="number" maxlength="2" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG6'">
                                            <td>How many people going?</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG6'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter number of people</label>
                                                    <input ng-model="txtpeople" type="number" maxlength="2" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="(currgoalcode!='FG6' && currgoalcode!='FG5' && currgoalcode!='FG9' && currgoalcode!='FG10' && currgoalcode!='FG12') || isLocationOther">
                                            <td>{{goalAmtQuestion}}</td>
                                        </tr>
                                        <tr ng-show="(currgoalcode!='FG6' && currgoalcode!='FG5' && currgoalcode!='FG9' && currgoalcode!='FG10' && currgoalcode!='FG12') || isLocationOther">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtamt" type="number" maxlength="20" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG2' || currgoalcode=='FG9' || currgoalcode=='FG10'">
                                            <td>{{goalMonthlyExpenceQuestion}}</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG2' || currgoalcode=='FG9' || currgoalcode=='FG10'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtmonthlyexp" type="number" maxlength="20" required>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG10'">
                                            <td>How soon you want to start?</td>
                                        </tr>
                                        <tr ng-show="currgoalcode=='FG10'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:50%;margin:0;">
                                                    <label>Select Date</label>
                                                    <md-datepicker ng-model="txtstartdate" md-mode="month" md-min-date="minStartDate"></md-datepicker>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr ng-show="currgoalcode!='FG9'">
                                            <td>{{goalTimeQuestion}}</td>
                                        </tr>
                                        <tr ng-show="currgoalcode!='FG9'">
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:50%;margin:0;">
                                                    <!--<label>Enter years</label>
                                                    <input ng-model="txtyear" type="number" maxlength="20" required>-->
                                                    <label>Select Date</label>
                                                    <md-datepicker ng-model="txtdate" md-mode="month" md-min-date="minEndDate"></md-datepicker>
                                                </md-input-container>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="table" style="margin-top: -2em;" ng-show="currtypecode=='FG104'">
                                        <tr>
                                            <td>Tax Saving Limit U/S.80C : <span class="text-color-fin" style="font-size:1.5em;">Rs.1,50,000</span></td>
                                        </tr>

                                        <tr>
                                            <td>Provident Fund <span class="text-color-fin" style="font-size:12px;">(Employee PF/Government PF)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtPF" type="number" ng-change="taxAmtChange();">
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Life Insurance <span class="text-color-fin" style="font-size:12px;">(Team Insurance / Endowment / Money Back Ulip Policies)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtLIC" type="number" ng-change="taxAmtChange();">
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Small Saving <span class="text-color-fin" style="font-size:12px;">(National Savings Cert / Kisan Vikas Patra / 5 Yr Bank FD)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtSAVING" type="number" ng-change="taxAmtChange();">
                                                </md-input-container>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Loan Principal <span class="text-color-fin" style="font-size:12px;">(Home Loan Principal)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:-webkit-center;padding-bottom:0px;">
                                                <md-input-container class="md-block" flex-gt-sm style="width:45%;margin:0;">
                                                    <label>Enter amount in Rs.</label>
                                                    <input ng-model="txtLOAN" type="number" ng-change="taxAmtChange();">
                                                </md-input-container>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>You have already saved : <span class="text-color-fin" style="font-size:1.5em;">Rs.{{totalSavedTaxAmt}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>You need to save additional Tax in ELSS : <span class="text-color-fin" style="font-size:1.5em;">Rs.{{totalReqSavedTaxAmt}}</span></td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event);" ng-show="currtypecode!='FG104'">Next<i class="material-icons">keyboard_arrow_right</i></a>
                        <a href="javascript:void(0);" class="btn btn-success" ng-click="next($event);" ng-show="currtypecode=='FG104' && totalReqSavedTaxAmt>0">Next<i class="material-icons">keyboard_arrow_right</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="features-area section-padding-50-50" style="background-color: #f6f6f6; padding-top:5%; padding-bottom:5%;">
        <div class="container-fluid">
            <h1 class="kafil-heading" style="text-align: center">  Unique Phone based Financial Services </h1>
            <p style="text-align: center; font-family: montserrat-bold; font-size:25px; line-height: 1.3">  Helping you plan, invest and navigate to help you reach and often exceed your financial goals.  </p>

            <div class="container" style="margin-top: 5%">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6 col-xs-12">
                        <img src="../../../assets/img/phoneAdvisory.PNG" />
                       
                    </div>

                    <div class="col-12 col-lg-6 col-md-6 col-xs-12">
                        <p style="font-family:montserrat-regular; line-height: 1.8">
                            The conventional physical brick-n-mortar model of meeting in-person and offering financial solution is the root-cause of all wrong selling. It’s our pledge to never, ever wrongly sell a product to anyone. <br>
                            Fincart consultants offers financial solution over phone; records the conversation and shares the audio-link of recorded conversation. All communications are over email & documented. It allows you the flexibility to talk to our consultants, anytime from anywhere during working hours.
                            These consultants not only help you plan but also help you invest and navigate the investments to help reach and often exceed your financial goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    

    <section class="features-area section-padding-50-50">

        <div class="container">

            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class=" text-center mb-50 wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">

                        <h2 class="kafil-heading">How our clients have benefitted?</h2>
                        <p style="margin-top: -0.5%; line-height: 1.5">
                            Our vision is to make meaningful impact to the lives of Indians
                            across the globe with sound & profitable investments.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 impectvideo1">
                    <iframe width="343" height="194" src="https://www.youtube.com/embed/E2mQuHFE-w4"></iframe>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 impectvideo1">
                    <iframe width="343" height="194"
                            src="https://www.youtube.com/embed/Scm3nOMn-Hc"></iframe>
                </div>

                <div class="col-12 col-md-4 col-sm-6 col-xs-12 impectvideo1">
                    <iframe width="343" height="194" style="text-align: center"
                            src="https://www.youtube.com/embed/o-ELvPCVNjE"></iframe>
                </div>
            </div>
        </div>
    </section>


</div>


<script type="text/ng-template" id="goalResultModal.tmpl.html">
    <md-dialog aria-label="Kyc Status">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>After {{time}} years your required amount will be</h2>
            </div>
        </md-toolbar>
        <md-toolbar style="min-height: 1.5em;">
            <div class="md-toolbar-tools" layout-align="center center" style="height:1em;">
                <h1>{{getAmt}}</h1>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isProcessing">
            <md-content class="md-padding">

                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>{{investType=="S"?'Sip Amount':'Lumpsum Amount'}}</label>
                        <input ng-model="investAmt" ng-change="amtChange();" type="number" required>
                    </md-input-container>
                </div>

                <div layout="row">
                    <div class="col-md-6" ng-show="goalReqmodel.locationCode!='FG220'">
                        <md-checkbox ng-checked="investType=='L'?true:false" ng-click="chkChange('L')" style="margin: 18px 0 0px 0;">
                            Lumpsum <br />
                          <span style="font-size: 12px;">OneTime Investment</span>
                        </md-checkbox>
                    </div>
                    <div class="col-md-6" ng-show="goalReqmodel.locationCode!='FG104'">
                        <md-checkbox ng-checked="investType=='S'?true:false" ng-click="chkChange('S')" style="margin: 18px 0 0px 0;">
                            Sip<br />
                            <span style="font-size: 12px;">Monthly Investment</span>
                        </md-checkbox>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <md-button class="btn btn-warning btn-link" ng-click="cancel();">
                Edit
            </md-button>
            <span flex></span>
            <md-button class="btn-bd-yellow" ng-click="recalculate();" ng-show="isDirtyData">
                Re-Calculate
            </md-button>
            <md-button class="btn btn-success btn-link" ng-click="saveTransact();" ng-show="!isDirtyData && currUserGoalId=='0'">
                Save &amp; Transact
            </md-button>
            <md-button class="btn btn-success btn-link" ng-click="updateGoal();" ng-show="!isDirtyData && currUserGoalId!='0'">
                Update &amp; Transact
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>