﻿<div class="container-fluid">

    <div class="row" ng-show="isMemberLoaded">
        <div class="col-md-6" ng-show="MemberList.length>1">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Investor</label>
                <md-select ng-model="ddlMember" ng-change="memberChange();">
                    <md-option ng-repeat="Member in MemberList" value="{{Member.basicid}}">
                        {{Member.memberName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-6" ng-show="ProfileList.length>1">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Investment A/C</label>
                <md-select ng-model="ddlProfile" ng-change="profileChange();">
                    <md-option ng-repeat="profile in ProfileList" value="{{profile.profileID}}">
                        {{profile.InvestProfile}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <div class="row" ng-show="isInvestmentsLoaded && AllInvestments.allInvestments.length>0">

        <div class="col-md-6" ng-repeat="invst in AllInvestments.allInvestments" style="margin: 0em 0em 0.5em 0em;">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-header style="padding-bottom: 0px;">
                        <md-card-avatar style="height:3em;width:4em;margin-top: -0.5em;">
                            <img ng-src="{{invst.fundImg}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{invst.fundName.replace('Mutual Fund','')}}</span>
                            <span class="md-subhead">FolioNo: {{invst.folioNo}}</span>
                        </md-card-header-text>
                        <md-card-header-media>
                            <div class="md-media-lg card-media">
                                <md-button class="md-icon-button"
                                           aria-label="More"
                                           ng-click="showToolbarMenu($event, more,invst)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                            </div>
                        </md-card-header-media>
                    </md-card-header>
                    <md-card-title style="padding-bottom:0;">
                        <md-card-title-text>
                            <span class="md-title">{{invst.schemeName}}</span>
                            <span class="md-subhead" style="padding: 0em;">{{invst.obj}} <i class="material-icons">minimize</i> {{invst.subObj}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" style="padding-bottom:0;">
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <span class="md-subhead">
                                    <span class="badge badge-secondary badge-light" style="margin-right: 10%; padding: 3%">
                                        <span class="md-subhead">
                                            Rs.{{invst.currValue}}
                                        </span><br />
                                        Current Amt
                                    </span>
                                    <span class="badge badge-secondary badge-light" style="margin-right: 10%; padding: 3%">
                                        <span class="md-subhead">
                                            Rs.
                                            <span style="color:#59ca47;" ng-if="invst.gain>=0">{{invst.gain}}</span>
                                            <span style="color:#d84141;" ng-if="invst.gain<0">{{invst.gain}}</span>
                                        </span><br />
                                        {{invst.gain>0?'Gain':'Loss'}}
                                    </span>
                                    <span class="badge badge-secondary badge-light" style="margin-right: 10%; padding: 3%">
                                        <span class="md-subhead">
                                            Rs.{{invst.investValue}}
                                        </span><br />
                                        Invested Amt
                                    </span>
                                    <!--<span class="badge badge-secondary badge-light" ng-show="Cart.folioNo!='New'">
                                        <span class="md-subhead">{{invst.folioNo}}</span>
                                        <br />
                                        Folio No
                                    </span>-->
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center" style="margin: 0px 8px 0px 0px;">
                     
                        This Investment from    <span class="badge badge-secondary badge-pill badge-warning" ng-if="invst.trxnSource.trim().toLowerCase()=='fincart' || invst.trxnSource.trim().toLowerCase()==''">
                        
                                <span class="md-subhead">
                                Fincart
                            </span>
                        </span>
                        <span class="badge badge-secondary badge-pill" ng-if="invst.trxnSource.trim().toLowerCase()!='fincart' && invst.trxnSource.trim().toLowerCase()!=''">
                            <span class="md-subhead">
                                External
                            </span>
                        </span>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>

    <div class="row" ng-show="isInvestmentsLoaded && AllInvestments.allInvestments.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png"/>
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no Investments !!</div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="transaction.tmpl.html">
    <md-dialog aria-label="Add To Cart">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{schemeName}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isLoading && !isSchemeAdded">

            <md-tabs md-dynamic-height md-border-bottom md-align-tabs="top">
                <md-tab label="onetime" md-on-select="tabClick('onetime');">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (min : {{addMinAmt}})</label>
                                    <input ng-model="txtAmount" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6" ng-show="goals.length>1">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Linked Goals</label>
                                    <md-select ng-model="ddlUserGoalId">
                                        <md-option ng-repeat="goal in goals" value="{{goal.userGoalId}}">
                                            {{goal.goalName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="sell" md-on-select="tabClick('sell');">
                    <md-content class=" md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (max : {{availAmt}})</label>
                                    <input ng-model="txtAmount" ng-change="txtAmtChange();" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <md-checkbox ng-model="chkState" ng-change="allAmt();">All Amount</md-checkbox>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="switch" md-on-select="tabClick('switch');">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Mutual Fund Category</label>
                                    <md-select ng-model="ddlObjective" ng-change="fundCategoryChange();">
                                        <md-option ng-repeat="Objective in ObjectiveList" value="{{Objective.objName}}">
                                            {{Objective.objName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Switch-In Scheme's</label>
                                    <md-select ng-model="ddlSwitchInScheme">
                                        <md-option ng-repeat="scheme in schemeList.searchSchemesResult" value="{{scheme.schemeId}}">
                                            {{scheme.schemeName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (max : {{availAmt}})</label>
                                    <input ng-model="txtAmount" ng-change="txtAmtChange();" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <md-checkbox ng-model="chkState" ng-change="allAmt();">All Amount</md-checkbox>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="monthly" md-on-select="tabClick('monthly');">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (min : {{sipMinAmt}})</label>
                                    <input ng-model="txtAmount" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Installment Year</label>
                                    <md-select ng-model="ddlInstallment">
                                        <md-option ng-repeat="Installment in noOfInstallment" value="{{Installment.value}}">
                                            {{Installment.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>SIP Date</label>
                                    <md-select ng-model="ddlValidDate">
                                        <md-option ng-repeat="ValidDate in ValidDateList.validdates track by $index" value="{{ValidDate.Day}}">
                                            {{ValidDate.Date}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-6" ng-show="goals.length>1">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Linked Goals</label>
                                    <md-select ng-model="ddlUserGoalId">
                                        <md-option ng-repeat="goal in goals" value="{{goal.userGoalId}}">
                                            {{goal.goalName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="stp" md-on-select="tabClick('stp');">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Mutual Fund Category</label>
                                    <md-select ng-model="ddlObjective" ng-change="fundCategoryChange();">
                                        <md-option ng-repeat="Objective in ObjectiveList" value="{{Objective.objName}}">
                                            {{Objective.objName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Switch-In Scheme's</label>
                                    <md-select ng-model="ddlSwitchInScheme">
                                        <md-option ng-repeat="scheme in schemeList.searchSchemesResult" value="{{scheme.schemeId}}">
                                            {{scheme.schemeName}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>STP Date</label>
                                    <md-select ng-model="ddlValidDate">
                                        <md-option ng-repeat="ValidDate in ValidDateList.validdates track by $index" value="{{ValidDate.Day}}">
                                            {{ValidDate.Date}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Installment Month</label>
                                    <md-select ng-model="ddlStpInstallment">
                                        <md-option ng-repeat="Installment in stp_Installments" value="{{Installment.value}}">
                                            {{Installment.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (max : {{availAmt}})</label>
                                    <input ng-model="txtAmount" ng-change="txtAmtChange();" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <md-checkbox ng-model="chkState" ng-change="allAmt();">All Amount</md-checkbox>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="swp" md-on-select="tabClick('swp');">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>SWP Date</label>
                                    <md-select ng-model="ddlValidDate">
                                        <md-option ng-repeat="ValidDate in ValidDateList.validdates track by $index" value="{{ValidDate.Day}}">
                                            {{ValidDate.Date}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 9px 0;">
                                    <label>Installment Month</label>
                                    <md-select ng-model="ddlSwpInstallment">
                                        <md-option ng-repeat="Installment in swp_Installments" value="{{Installment.value}}">
                                            {{Installment.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <label>Amount (max : {{availAmt}})</label>
                                    <input ng-model="txtAmount" ng-change="txtAmtChange();" type="number" required>
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                                    <md-checkbox ng-model="chkState" ng-change="allAmt();">All Amount</md-checkbox>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isLoading && !isSchemeAdded">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='onetime'" ng-click="addtocart();">
                Add to cart
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='monthly'" ng-click="sipgenerate();">
                Sip Generate
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='sell'" ng-click="sell();">
                Sell
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='swp'" ng-click="swp();">
                Swp Generate
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='switch'" ng-click="switch();">
                Switch
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="selectedTab=='stp'" ng-click="stp();">
                Stp Generate
            </md-button>
        </md-dialog-actions>
        <md-dialog-actions layout="row" ng-show="isSchemeAdded">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Add More Scheme
            </md-button>
            <span flex></span>
            <a class="btn btn-success btn-sm" href="#/dashboard/cart">
                Make Payment
            </a>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isLoading">
            <img src="../../../../assets/img/finloader.gif" ng-if="!isProcessing" />
            <img src="../../../../assets/img/finprocessing.gif" ng-if="isProcessing" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>