﻿
<div class="container-fluid">

    <div class="row" ng-show="userCaf">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        Basic Details
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Name:</strong> {{userCaf.clientName}}</td>
                                <td><strong>Mobile:</strong> {{userCaf.mobile}}</td>
                                <td><strong>Pan Number:</strong> {{userCaf.pan}}</td>
                                <td><strong>Annual Income:</strong> {{userCaf.AnnualIncome}}</td>
                            </tr>
                            <tr>
                                <td><strong>Aadhar Number:</strong> {{userCaf.aadharNo}}</td>
                                <td><strong>Date Of Birth:</strong> {{userCaf.dob}}</td>
                                <td><strong>Email:</strong> {{userCaf.email}}</td>
                                <td><strong>Occupation:</strong> {{userCaf.occupation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">home</i>
                    </div>
                    <h4 class="card-title">
                        Address Details
                        <span class="pull-right">
                            <md-button class="md-icon-button"
                                       aria-label="More"
                                       ng-click="showToolbarMenu($event, more,userCaf,'address')">
                                <md-icon>more_vert</md-icon>
                            </md-button>
                        </span>
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td colspan="3"><strong>Address:</strong> {{userCaf.prmAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>Pincode:</strong> {{userCaf.prmPincode}}</td>
                                <td><strong>State:</strong> {{userCaf.prmState}}</td>
                                <td><strong>City:</strong> {{userCaf.prmCity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">payment</i>
                    </div>
                    <h4 class="card-title">
                        Bank Details
                        <span class="pull-right">
                            <md-button class="md-icon-button"
                                       aria-label="More"
                                       ng-click="showToolbarMenu($event, more,userCaf,'bank')">
                                <md-icon>more_vert</md-icon>
                            </md-button>
                        </span>
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td colspan="4"><strong>Branch Address:</strong> {{userCaf.bankAddress}}</td>
                            </tr>
                            <tr>
                                <td><strong>IFSC:</strong> {{userCaf.ifsc}}</td>
                                <td><strong>MICR:</strong> {{userCaf.micr}}</td>
                                <td><strong>A/C Number:</strong> {{userCaf.accNo}}</td>
                                <td><strong>Name As Per Bank:</strong> {{userCaf.nameAsPerBank}}</td>
                            </tr>
                            <tr>
                                <td><strong>Bank Name:</strong> {{userCaf.bankName}}</td>
                                <td><strong>Branch Name:</strong> {{userCaf.branchName}}</td>
                                <td><strong>Branch City:</strong> {{userCaf.branchCity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">people</i>
                    </div>
                    <h4 class="card-title">
                        Nominee Details (you can add maximum 3 nominess)
                        <span class="pull-right">
                            <md-button class="md-icon-button"
                                       aria-label="More2"
                                       ng-click="showToolbarMenu($event, more2,userCaf,'nominee')">
                                <md-icon>more_vert</md-icon>
                            </md-button>
                        </span>
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="nom in userCaf.cafNominee">
                                <td><strong>Name:</strong> {{nom.nomName}}</td>
                                <td><strong>Relation:</strong> {{nom.nomRealtion}}</td>
                                <td><strong>Date Of Birth:</strong> {{nom.nomDOB}}</td>
                                <td><strong>Share:</strong> {{nom.nomShare}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-warning">
                    <div class="card-icon">
                        <i class="material-icons">local_library</i>
                    </div>
                    <h4 class="card-title">
                        Fatca Details
                    </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Birth Place:</strong> {{userCaf.ftcaBirthPlace}}</td>
                                <td><strong>Country:</strong> {{userCaf.ftcaBirthCoutry}}</td>
                                <td><strong>Source of Wealth:</strong> {{userCaf.ftcaWealthSource}}</td>
                                <td><strong>Political Exposed:</strong> {{userCaf.ftcaPoliticalExpo?'Yes':'No'}}</td>
                            </tr>
                            <tr>
                                <td><strong>Tax country Other then india :</strong> {{userCaf.isTaxOthIndia?'Yes':'No'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/ng-template" id="update.tmpl.html">
    <md-dialog aria-label="update">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{updateType}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isProcessing">
            <div layout="row" ng-show="reqDataType==2">
                <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                    <label>Address</label>
                    <textarea ng-model="txtAddress" type="text" required rows="3"></textarea>
                </md-input-container>
            </div>
            <div layout="row" ng-show="reqDataType==2">
                <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                    <label>Pincode</label>
                    <input ng-model="txtPincode" type="text" required ng-blur="getPincodeDetails();">
                    <span ng-bind-html="pincodeCS" style="font-size: 14px; text-align: right; font-style: italic;color:rgba(0,0,0,0.54);padding-left: 2%;" compile-template></span>
                </md-input-container>
            </div>
            <div layout="row" ng-show="reqDataType==2">
                <input type="file" id="panfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'pan')" />
                <div class="upload-optionBackground" id="panfilediv" style="cursor:pointer;margin: 2% 0% 2% 2%;padding: 2% 3%;" ng-click="fileUploadImageClick('panfile')">
                    <div style="text-align:center">
                        <img ng-src="{{dataholder.srcPan}}" style="width:30px; align-content:center" />
                        {{dataholder.panUploadImgText}}
                    </div>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==2">
                <input type="file" id="addAadharfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'aadhar')" />
                <div class="upload-optionBackground" id="addFrontfilediv" style="cursor:pointer;margin: 2% 0% 2% 2%;padding: 2% 3%;" ng-click="fileUploadImageClick('addAadharfile')">
                    <div style="text-align:center">
                        <img ng-src="{{dataholder.srcAadhar}}" style=" width:30px; align-content:center" />
                        {{dataholder.aadharUploadImgText}}
                    </div>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==2">
                <span style="font-size: 14px; text-align: right;color:#0056a7;padding-left: 1%;">Note:- <span style="color:rgba(0,0,0,0.54);">All documents should be signed and in image format.</span></span>
            </div>

            <div layout="row" ng-show="reqDataType==3">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>IFSC</label>
                        <input ng-model="txtIfsc" type="text" ng-keyup="ifscChange();" required maxlength="11" style="text-transform:uppercase" />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Bank Name</label>
                        <md-select ng-model="ddlbankname">
                            <md-option ng-repeat="bankOption in bankOptions" value="{{bankOption.value}}">
                                {{bankOption.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==3">
                <div class="col-md-12">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Address</label>
                        <textarea ng-model="txtBranchAdd" type="text" rows="3" required></textarea>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==3">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Branch</label>
                        <input ng-model="txtBranchName" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>City</label>
                        <input ng-model="txtBranchCity" type="text" required />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==3">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>MICR</label>
                        <input ng-model="txtMicr" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Account Number</label>
                        <input ng-model="txtAccountNumber" type="text" required />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==3">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Name as per bank</label>
                        <input ng-model="txtAccountName" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <input type="file" id="chequefile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'cheque')" />
                    <div class="upload-optionBackground" id="chequefilediv" style="cursor:pointer;margin: 2% 0% 2% 2%;padding: 2% 3%;" ng-click="fileUploadImageClick('chequefile')">
                        <div style="text-align:center">
                            <img ng-src="{{dataholder.srcCheque}}" style="width:30px; align-content:center" />
                            {{dataholder.chequeUploadImgText}}
                        </div>
                    </div>
                </div>
            </div>

            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <div class="md-toolbar-tools">
                        <h2>First Nominee</h2>
                    </div>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Name</label>
                        <input ng-model="txtNom1Name" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Relation</label>
                        <input ng-model="txtNom1Rel" type="text" required />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>DOB</label>
                        <md-datepicker ng-model="txtNom1Dob" required></md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Share%</label>
                        <input ng-model="txtNom1Share" type="text" required />
                    </md-input-container>
                </div>
            </div>

            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <div class="md-toolbar-tools">
                        <h2>Second Nominee</h2>
                    </div>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Name</label>
                        <input ng-model="txtNom2Name" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Relation</label>
                        <input ng-model="txtNom2Rel" type="text" required />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>DOB</label>
                        <md-datepicker ng-model="txtNom2Dob" required></md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Share%</label>
                        <input ng-model="txtNom2Share" type="text" required />
                    </md-input-container>
                </div>
            </div>

            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <div class="md-toolbar-tools">
                        <h2>Third Nominee</h2>
                    </div>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Name</label>
                        <input ng-model="txtNom3Name" type="text" required />
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>Relation</label>
                        <input ng-model="txtNom3Rel" type="text" required />
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-show="reqDataType==1">
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>DOB</label>
                        <md-datepicker ng-model="txtNom3Dob" required></md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 0px 0 0px 0;">
                        <label>Share%</label>
                        <input ng-model="txtNom3Share" type="text" required />
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="updateNominee();" ng-show="reqDataType==1">
                Update
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-click="addressChangeRequest();" ng-show="reqDataType==2">
                Submit
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-click="bankChangeRequest();" ng-show="reqDataType==3">
                Submit
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

<script type="text/ng-template" id="view.tmpl.html">
    <md-dialog aria-label="view">
        <md-dialog-content ng-show="!isProcessing">
            <div layout="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-warning">
                            <div class="card-icon">
                                <h4 class="card-title" style="color:#fff;">
                                    {{viewType}}
                                </h4>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <span ng-show="previousChangeReqData.cafeditRequests.length<1">No Previous Request Generated!</span>
                            <table class="table table-hover" ng-show="previousChangeReqData.cafeditRequests.length>0">
                                <thead class="text-color-fin text-center">
                                    <tr>
                                        <th>
                                            Request Id
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th ng-show="reqDataType==2">
                                            Pan
                                        </th>
                                        <th ng-show="reqDataType==2">
                                            Aadhar
                                        </th>
                                        <th ng-show="reqDataType==3">
                                            Cancel Cheque
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr ng-repeat="req in previousChangeReqData.cafeditRequests">
                                        <td>{{req.CafRequestId}}</td>
                                        <td>{{req.CafRequestStatus}}</td>
                                        <td ng-show="reqDataType==2"><a href="{{req.Pan}}" target="_blank">View</a></td>
                                        <td ng-show="reqDataType==2"><a href="{{req.Aadhar}}" target="_blank">View</a></td>
                                        <td ng-show="reqDataType==3"><a href="{{req.cancelcheque}}" target="_blank">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="cancel();">
                OK
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

