﻿
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" ng-show="groupLeader">
            <div class="card card-profile">
                <div class="pull-center" style="border-radius:0px !important; margin-top: -12%;">
                    <img ng-src="{{groupLeader.profilepic?groupLeader.profilepic:'../../../../assets/img/default-profile-icon.png'}}" class="img-thumbnail" style="border-radius:0px !important;width:20%;">
                    <h3 class="card-title" style="font-size: .875rem;">
                        <input type="file" id="grpLdrPic" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeProfilePic($event,groupLeader.basic_id)" />
                        <a href="javascript:void(0);" ng-click="fileUploadImageClick('grpLdrPic')"><span class="text-color-fin">change picture</span></a>
                    </h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{groupLeader.clientname}}<span class="card-category text-gray"><span style="color:#43a047;"> [Owner]</span></span></h4>
                    <h6 class="card-category text-gray">[Pan: <span class="text-color-fin">{{groupLeader.pannumber}}</span>]</h6>
                    <p class="card-description">
                        <table class="table" style="text-align:center;">
                            <tr>
                                <td style="padding:5px;">
                                    <span class="badge badge-pill badge-success" style="font-size:15px;" ng-if="groupLeader.kycStatus=='success'">Done</span>
                                    <span class="badge badge-pill badge-danger" style="font-size:15px;" ng-if="groupLeader.kycStatus=='pending'">Pending</span>
                                    <span class="badge badge-pill badge-warning" style="font-size:15px;" ng-if="groupLeader.kycStatus=='inprocess'">In-Process</span>
                                </td>
                                <td style="padding:5px;">
                                    <span class="badge badge-pill badge-danger" style="font-size:15px;" ng-if="groupLeader.cafStatus=='pending'">{{groupLeader.profilepercent}}%</span>
                                    <span class="badge badge-pill badge-warning" style="font-size:15px;" ng-if="groupLeader.cafStatus=='inprocess'">{{groupLeader.profilepercent}}%</span>
                                    <span class="badge badge-pill badge-success" style="font-size:15px;" ng-if="groupLeader.cafStatus=='success'">{{groupLeader.profilepercent}}%</span>
                                </td>
                                <td style="padding:5px;">
                                    <span class="badge badge-pill badge-success" style="font-size:15px;" ng-if="groupLeader.mandateStatus=='success'">Done</span>
                                    <span class="badge badge-pill badge-danger" style="font-size:15px;" ng-if="groupLeader.mandateStatus=='pending'">Pending</span>
                                    <span class="badge badge-pill badge-warning" style="font-size:15px;" ng-if="groupLeader.mandateStatus=='inprocess'">In-Process</span>
                                </td>
                                <td style="padding:5px;">
                                    <span class="badge badge-pill badge-danger" style="font-size:15px;" ng-if="groupLeader.totalInvstAccounts<1">{{groupLeader.totalInvstAccounts}}</span>
                                    <span class="badge badge-pill badge-success" style="font-size:15px;" ng-if="groupLeader.totalInvstAccounts>0">{{groupLeader.totalInvstAccounts}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px;"> KYC <i class="material-icons" style="font-size:15px;" ng-show="groupLeader.kycStatus!='success'">rotate_left</i></td>
                                <td style="padding:0px;"> Profile<a href="javascript:void(0);" ng-click="editProfile(groupLeader);"><i class="material-icons" style="font-size:15px;">edit</i></a></td>
                                <td style="padding:0px;"> SIP Mandate <a href="javascript:void(0);" ng-click="viewMandate(groupLeader);"><i class="material-icons" style="font-size:15px;">visibility</i></a></td>
                                <td style="padding:0px;"> Investment A/C <a href="#/dashboard/investmentccount"><i class="material-icons" style="font-size:15px;">edit</i></a></td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-4" ng-repeat="member in members">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 32%;">
                        <img ng-src="{{member.profilepic?member.profilepic:'../../../../assets/img/default-profile-icon.png'}}" clas class="img-thumbnail" style="border-radius:0px !important;">
                        <h3 class="card-title" style="font-size: .875rem;">
                            <input type="file" id="memberPic{{member.basic_id}}" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeProfilePic($event,member.basic_id)" />
                            <a href="javascript:void(0);" ng-click="fileUploadImageClick('memberPic'+member.basic_id)"><span class="text-color-fin">change picture</span></a>
                        </h3>
                    </div>
                    <div class="pull-right">{{member.clientname}}<span style="color:#43a047;"> [Member]</span></div><br />
                    <div class="pull-right">{{member.pannumber}}</div><br />
                    <!--<div class="pull-right">
                        <span class="badge badge-pill badge-danger" ng-if="member.profilepercent<1.0">Profile {{member.profilepercent}}%</span>
                        <span class="badge badge-pill badge-warning" ng-if="member.profilepercent>0.0 && member.profilepercent<100.0">Profile {{member.profilepercent}}%</span>
                        <span class="badge badge-pill badge-success" ng-if="member.profilepercent==100.0">Profile {{member.profilepercent}}%</span>
                        <a href="javascript:void(0);" ng-click="editProfile(member);"><i class="material-icons" style="font-size:15px;">edit</i></a>
                    </div>-->
                </div>

                <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                    <table class="table" style="text-align:center;">
                        <tr>
                            <td style="padding:0px;">
                                <span class="badge badge-pill badge-success" ng-if="member.kycStatus=='success'">Done</span>
                                <span class="badge badge-pill badge-danger" ng-if="member.kycStatus=='pending'">Pending</span>
                                <span class="badge badge-pill badge-warning" ng-if="member.kycStatus=='inprocess'">In-Process</span>
                            </td>
                            <td style="padding:0px;">
                                <span class="badge badge-pill badge-danger" ng-if="member.cafStatus=='pending'">{{member.profilepercent}}%</span>
                                <span class="badge badge-pill badge-warning" ng-if="member.cafStatus=='inprocess'">{{member.profilepercent}}%</span>
                                <span class="badge badge-pill badge-success" ng-if="member.cafStatus=='success'">{{member.profilepercent}}%</span>
                            </td>
                            <td style="padding:0px;">
                                <span class="badge badge-pill badge-success" ng-if="member.mandateStatus=='success'">Done</span>
                                <span class="badge badge-pill badge-danger" ng-if="member.mandateStatus=='pending'">Pending</span>
                                <span class="badge badge-pill badge-warning" ng-if="member.mandateStatus=='inprocess'">In-Process</span>
                            </td>
                            <!--<td style="padding:0px;">
                                <span class="badge badge-pill badge-danger" ng-if="member.totalInvstAccounts<1">{{member.totalInvstAccounts}}</span>
                                <span class="badge badge-pill badge-success" ng-if="member.totalInvstAccounts>0">{{member.totalInvstAccounts}}</span>
                            </td>-->
                        </tr>
                        <tr>
                            <td style="padding:0px;"> KYC <i class="material-icons" style="font-size:15px;" ng-show="member.kycStatus!='success'">rotate_left</i></td>
                            <td style="padding:0px;"> Profile<a href="javascript:void(0);" ng-click="editProfile(member);"><i class="material-icons" style="font-size:15px;">edit</i></a></td>
                            <td style="padding:0px;"> SIP Mandate <a href="javascript:void(0);" ng-click="viewMandate(member);"><i class="material-icons" style="font-size:15px;">visibility</i></a></td>
                            <!--<td style="padding:0px;"> Investment A/C <i class="material-icons" style="font-size:15px;">edit</i></td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-show="groupLeader">
            <div class="card ">
                <div class="card-body text-center">
                    <a href="javascript:void(0);" class="btn btn-success" ng-click="addMember();">Add Member</a>
                </div>
            </div>
        </div>
    </div>

</div>



