﻿<div class="container-fluid">



    <div class="row">

        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage==''">
                <div class="col-md-6">
                    <div class="card card-chart" ng-show="!isStepScreen && isPageLoaded">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Please Keep Handy
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/pan-icon.png" style="height:3em" />
                                    </td>
                                    <td style="padding:2px 8px;">
                                        Pan Card for KYC
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/aadhar-icon.png" style="height:3em" />
                                    </td>
                                    <td style="padding:2px 8px;">
                                        Aadhar Card for Address
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/camera-icon.png" style="height:3em" />
                                    </td>
                                    <td style="padding:2px 8px;">
                                        Camera for IPV
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/bank-icon.png" style="height:3em" />
                                    </td>
                                    <td style="padding:2px 8px;">
                                        Bank Details for transaction
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class=" dashboardCartviewtext"></div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="start($event)">Let's Start <i class="material-icons">keyboard_arrow_right</i></a>
                            </div>

                        </div>
                    </div>
                    <div class="card card-chart" ng-show="isStepScreen">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        You are few step away to start your investment
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">

                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isAccountDone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isAccountDone" />
                                        Pan Verification
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-if="userdetails.isAccountDone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'Account','P');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-if="!userdetails.isAccountDone">
                                            <a href="javascript:void(0);" ng-click="setPage('P');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isPOIPOADone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isPOIPOADone" />
                                        Address Proof
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-show="userdetails.isPOIPOADone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'POIPOA','I');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-show="!userdetails.isPOIPOADone && userdetails.isAccountDone">
                                            <a href="javascript:void(0);" ng-click="setPage('I');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isBasicDone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isBasicDone" />
                                        Personal Details
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-show="userdetails.isBasicDone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'BASIC','B');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-show="!userdetails.isBasicDone && userdetails.isAccountDone && userdetails.isPOIPOADone">
                                            <a href="javascript:void(0);" ng-click="setPage('B');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-show="kycdata.KYC_STATUS.toUpperCase()=='N'">
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isVideoDone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isVideoDone" />
                                        In-Person Verification
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-show="userdetails.isVideoDone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'VEDIO','V');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-show="!userdetails.isVideoDone && userdetails.isAccountDone && userdetails.isPOIPOADone && userdetails.isBasicDone">
                                            <a href="javascript:void(0);" ng-click="setPage('V');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isBankDone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isBankDone" />
                                        Bank Account
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-show="userdetails.isBankDone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'BANK','BNK');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-show="!userdetails.isBankDone && userdetails.isAccountDone && userdetails.isPOIPOADone && userdetails.isBasicDone && userdetails.isVideoDone">
                                            <a href="javascript:void(0);" ng-click="setPage('BNK');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img class="img" src="../../../../assets/img/checked.png" style="height:1em" ng-if="userdetails.isSignDone" />
                                        <img class="img" src="../../../../assets/img/cancel.png" style="height:1em" ng-if="!userdetails.isSignDone" />
                                        Signature
                                    </td>
                                    <td style="padding:2px 8px;">
                                        <div class="pull-right" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:50%; background-color: rgb(251, 192, 64); text-align: center;" ng-show="userdetails.isSignDone">
                                            <a href="javascript:void(0);" ng-click="setEditStep($event,'SIGN','S');">   <h4 class="card-title" style="font-size: 15px;"> Edit </h4> </a>
                                        </div>
                                        <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 50%; background-color: #0056a7; text-align: center;" ng-show="!userdetails.isSignDone && userdetails.isAccountDone && userdetails.isPOIPOADone && userdetails.isBasicDone && userdetails.isVideoDone && userdetails.isBankDone">
                                            <a href="javascript:void(0);" ng-click="setPage('S');">   <h4 class=" card-title" style="text-decoration:none; color:#fff;font-size: 15px;"> Add </h4> </a>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='P'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow">
                            <table class="table">
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Enter your PAN</label>
                                            <input ng-model="txtEkycPan" type="text" maxlength="10" required style="text-transform:uppercase">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext"></div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="checkkyc($event)" ng-show="!btndisable">Check your KYC status <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Validating Your PAN..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='C'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Tell Us your Basic Details
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>PAN Number</label>
                                            <input type="text" ng-model="txtEkycPan" readonly="readonly" style="text-transform:uppercase" required>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Name as per PAN</label>
                                            <input type="text" ng-model="txtEkycName" required>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Investor Email</label>
                                            <input type="text" ng-model="txtEkycEmail" required>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Investor Mobile</label>
                                            <input type="text" ng-model="txtEkycMobile" required>
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setPage('P')" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="signzyaccountcreation('I')" ng-show="!btndisable">Next <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Please Wait..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='I'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Identity of your Address
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td colspan="2">
                                        <input type="file" id="panfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'poi')" />
                                        <div class="upload-optionBackground" id="panfilediv" style="cursor:pointer" ng-click="fileUploadImageClick('panfile')">
                                            <div style="text-align:center">
                                                <img ng-src="{{dataholder.srcPan}}" style="width:30px; align-content:center" />
                                                {{dataholder.panUploadImgText}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Address Proof Type</label>
                                            <md-select ng-model="ddlDocTypes">
                                                <md-option ng-repeat="doc in docTypes" value="{{doc.value}}">
                                                    {{doc.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="file" id="addFrontfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'poaf')" />
                                        <div class="upload-optionBackground" id="addFrontfilediv" style="cursor:pointer" ng-click="fileUploadImageClick('addFrontfile')">
                                            <div style="text-align:center">
                                                <img ng-src="{{dataholder.srcPoaF}}" style=" width:30px; align-content:center" />
                                            </div>
                                            {{dataholder.poaFUploadImgText}}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="file" id="addBackfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'poab')" />
                                        <div class="upload-optionBackground" id="addBackfilediv" style="cursor:pointer" ng-click="fileUploadImageClick('addBackfile')">
                                            <div style="text-align:center">
                                                <img ng-src="{{dataholder.srcPoaB}}" style=" width:30px; align-content:center" />
                                            </div>
                                            {{dataholder.poaBUploadImgText}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setEditStep($event,'Account','P')" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="uploadPoiPoa($event)" ng-show="!btndisable">Next <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Verifying your documents..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='B'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Verify your Information
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td colspan="2">
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Mother Name</label>
                                            <input type="text" ng-model="txtEkycMotherName" />
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Gender</label>
                                            <md-select ng-model="ddlgender">
                                                <md-option ng-repeat="genderOption in genderOptions" value="{{genderOption.value}}">
                                                    {{genderOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Marital Status</label>
                                            <md-select ng-model="ddlmaritalStatus">
                                                <md-option ng-repeat="maritalStatusOption in maritalStatusOptions" value="{{maritalStatusOption.value}}">
                                                    {{maritalStatusOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Occupation</label>
                                            <md-select ng-model="ddloccupation">
                                                <md-option ng-repeat="occupationOption in occupationOptions" value="{{occupationOption.value}}">
                                                    {{occupationOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Address Type</label>
                                            <md-select ng-model="ddladdressType">
                                                <md-option ng-repeat="addressTypeOption in addressTypeOptions" value="{{addressTypeOption.value}}">
                                                    {{addressTypeOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Income</label>
                                            <md-select ng-model="ddlincome">
                                                <md-option ng-repeat="incomeOption in incomeOptions" value="{{incomeOption.value}}">
                                                    {{incomeOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Select Wealth Source</label>
                                            <md-select ng-model="ddlwealthsource">
                                                <md-option ng-repeat="wealthsourceOption in wealthsourceOptions" value="{{wealthsourceOption.value}}">
                                                    {{wealthsourceOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <md-checkbox ng-model="checkboxModelNominee" ng-change="chkNomChange('')">Do you wish to Nominate?</md-checkbox>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee">
                                    <td colspan="2">
                                        First Nominee
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Name</label>
                                            <input type="text" only-letters-input focus="true" ng-model="txtname1" />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Relation</label>
                                            <input type="text" only-letters-input ng-model="txtrelation1" />
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Date of Birth</label>
                                            <md-datepicker ng-model="txtdob1"></md-datepicker>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Share %</label>
                                            <input type="number" ng-model="txtshare1">
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart=='' && !btndisable">
                                    <td colspan="2" style="text-align: center;">
                                        <a href="javascript:void(0);" class="btn btn-fin" ng-click="addmorenominee('N2')"><i class="material-icons">add</i> Add More Nominee</a>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart!=''">
                                    <td colspan="2">
                                        Second Nominee
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart!=''">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Name</label>
                                            <input type="text" only-letters-input focus="true" ng-model="txtname2" />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Relation</label>
                                            <input type="text" only-letters-input ng-model="txtrelation2" />
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart!=''">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Date of Birth</label>
                                            <md-datepicker ng-model="txtdob2"></md-datepicker>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Share %</label>
                                            <input type="number" ng-model="txtshare2">
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee  && addnomineepart=='N2' && !btndisable">
                                    <td colspan="2" style="text-align: center;">
                                        <a href="javascript:void(0);" class="btn btn-fin" ng-click="addmorenominee('N3')"><i class="material-icons">add</i> Add More Nominee</a>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart=='N3'">
                                    <td colspan="2">
                                        Third Nominee
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart=='N3'">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Name</label>
                                            <input type="text" only-letters-input focus="true" ng-model="txtname3" />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Relation</label>
                                            <input type="text" only-letters-input ng-model="txtrelation3" />
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="checkboxModelNominee && addnomineepart=='N3'">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Date of Birth</label>
                                            <md-datepicker ng-model="txtdob3"></md-datepicker>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Share %</label>
                                            <input type="number" ng-model="txtshare3">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setEditStep($event,'POIPOA','I')" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="updateKycForm($event,kycdata.KYC_STATUS.toUpperCase()=='N'?'V':'BNK')" ng-show="!btndisable">Next <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Please Wait..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='V'">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        In-Person Verification
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header" style="margin-top:1em;padding: 0.2em;" ng-show="Screen=='INFO'">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/camera-icon.png" style="height:3em" />
                                    </td>
                                    <td>
                                        Upload photo first
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:2px 8px;">
                                        <img src="../../../../assets/img/camera-icon.png" style="height:3em" />
                                    </td>
                                    <td>
                                        Record video
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-footer" ng-show="Screen=='INFO'">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setEditStep($event,'Basic','B');" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="nxtScreen('PHOTO');" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_right</i> Next</a>
                            </div>

                        </div>

                        <div class="card card-product" ng-show="Screen=='PHOTO'">
                            <div class="card-header card-header-image">
                                <input type="file" id="phototfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'photo')" />
                                <div class="upload-optionBackground" id="phototfilediv" style="cursor:pointer;margin: 1em 0;" ng-click="fileUploadImageClick('phototfile')">
                                    <div style="text-align:center">
                                        <img ng-src="{{dataholder.srcPhoto}}" style="width:30px; align-content:center" />
                                        {{dataholder.photoUploadImgText}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer" ng-show="Screen=='PHOTO'">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="nxtScreen('INFO');" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="uploadPhoto($event);" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_right</i> Next</a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Please Wait..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>
                        </div>

                        <div class="card card-product" ng-show="Screen=='VDO'">
                            <div class="card-header">
                                <h3 class="card-title" style="text-align: -webkit-center;color: #0056a7;">{{vedioNumber}}</h3>
                            </div>
                            <div class="card-header card-header-image">
                                <a href="javascript:void(0);">
                                    <div id="recording-player" style="margin: 1.5em 0;text-align:center;"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="javascript:void(0);">Video Instruction</a>
                                </h4>
                                <div class="card-description">
                                    <ul>
                                        <li>Place your face of the view finder with your PAN</li>
                                        <li>Read loud the number that are prompted on the screen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer" ng-show="Screen=='VDO'">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="nxtScreen('PHOTO');" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <button id="btn-start-recording" class="btn btn-primary" ng-show="!btndisable"><i class="material-icons">play_arrow</i>Start Recording</button>
                                <a href="javascript:void(0);" id="save-to-disk" style="display:none;" class="btn btn-success" ng-click="saveVedio('BNK');" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_right</i> Next</a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Please Wait..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='BNK'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Bank Details
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="card-header" style="margin-top:1em;padding: 0.2em;">
                            <table class="table" style="margin:0;">
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>IFSC</label>
                                            <input type="text" focus="true" ng-model="bankData.ifsc" ng-keyup="ifscChange()" maxlength="11" style="text-transform:uppercase">
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Account Number</label>
                                            <input type="text" ng-model="bankData.accountnumber">
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Account Type</label>
                                            <md-select ng-model="bankData.AccountType">
                                                <md-option ng-repeat="accounttypeOption in accounttypeOptions" value="{{accounttypeOption.value}}">
                                                    {{accounttypeOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Bank Name</label>
                                            <md-select ng-model="bankvalue">
                                                <md-option ng-repeat="bankOption in bankOptions" value="{{bankOption.value}}">
                                                    {{bankOption.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Name as Per Bank</label>
                                            <input type="text" ng-model="bankData.nameasperbank" />
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="isbankResp">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>MICR</label>
                                            <input type="text" ng-model="bankData.micr">
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Branch City</label>
                                            <input type="text" ng-model="bankData.bankcity">
                                        </md-input-container>
                                    </td>
                                </tr>
                                <tr ng-show="isbankResp">
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Branch Name</label>
                                            <input type="text" ng-model="bankData.branch">
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container class="md-block" flex-gt-sm style="margin-bottom:0px;">
                                            <label>Branch Address</label>
                                            <input type="text" ng-model="bankData.bankaddress">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setEditStep($event,kycdata.KYC_STATUS.toUpperCase()=='N'?'VEDIO':'Basic',kycdata.KYC_STATUS.toUpperCase()=='N'?'V':'B')" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="validateBank($event,'S')" ng-show="!btndisable">Next <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Please Wait..</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='S'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Signature
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card card-product">
                            <div class="card-header card-header-image">
                                <a href="javascript:void(0);">
                                    <input type="file" id="signfile" name="image" accept="image/*" capture style="display:none" ng-upload-change="changeFileUpload($event,'sign')" />
                                    <div class="upload-optionBackground" id="signfilediv" style="cursor:pointer;margin: 1.5em 0;text-align:center;" ng-click="fileUploadImageClick('signfile')">
                                        <div style="text-align:center">
                                            <img ng-src="{{dataholder.srcSign}}" style="width:30px; align-content:center" />
                                            {{dataholder.bankSignText}}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="javascript:void(0);">Sign Instruction</a>
                                </h4>
                                <div class="card-description">
                                    <ul>
                                        <li>Sign on plain white paper</li>
                                        <li>Use blue or black pen</li>
                                        <li>Sign image must be in center</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class=" dashboardCartviewtext">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="setEditStep($event,'BANK','BNK')" ng-show="!btndisable"><i class="material-icons">keyboard_arrow_left</i> Prev</a>
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="uploadSignature($event,'CONFIRM')" ng-show="!btndisable">Next <i class="material-icons">keyboard_arrow_right</i></a>
                                <button type="button" class="btn btn-default disabled" ng-if="btndisable">Uploading Signature and Setting Your Profile...</button>
                                <md-progress-linear md-mode="indeterminate" ng-if="btndisable"></md-progress-linear>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="currPage=='CONFIRM'">
                <div class="col-md-6">
                    <div class="card card-chart ">
                        <div class="card-header card-header-yellow" style="padding: 0.2em;">
                            <table class="table text-center" style="margin:0;">
                                <tr>
                                    <td>
                                        Thank you
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card card-product">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="javascript:void(0);">We have collected your all documents. Now your KYC will be completed within 1 working day. You can proceed for Investment</a>
                                </h4>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="dashboardCartviewtext">
                            </div>
                            <div style="align-self: flex-start">
                                <a href="javascript:void(0);" class="btn btn-success" ng-click="proceed();">Proceed <i class="material-icons">forward</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="kycProcessModal.tmpl.html">
    <md-dialog aria-label="Kyc Status">
        <md-dialog-content>
            <md-content class="md-padding">
                <div class="col-md-12" ng-if="kycData.KYC_FROM.toLowerCase()!='already' && kycData.KYC_STATUS.toUpperCase()=='N'">
                    <i class="material-icons" style="color:#fbc040;">sentiment_very_dissatisfied</i>   Oop's your KYC need's to be done!!
                </div>
                <div class="col-md-12" ng-if="kycData.KYC_FROM.toLowerCase()!='already' && kycData.KYC_STATUS.toUpperCase()=='Y'">
                    <i class="material-icons" style="color:#4caf50;">sentiment_very_satisfied</i> Hurray your Kyc already done!!
                </div>
                <div class="col-md-12" ng-if="kycData.KYC_FROM.toLowerCase()=='already'">
                    <i class="material-icons" style="color:#e03e28;">sentiment_satisfied</i> This PAN already registered!!
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-warning btn-link" ng-click="cancel();" ng-if="kycData.KYC_FROM.toLowerCase()!='already'">
                Change Pan
            </md-button>
            <span flex></span>
            <md-button class="btn btn-primary btn-link" ng-click="cancel();" ng-if="kycData.KYC_FROM.toLowerCase()=='already'">
                Ok
            </md-button>
            <md-button class="btn btn-success btn-link" ng-click="confirmStep('C')" ng-if="kycData.KYC_FROM.toLowerCase()!='already'">
                Proceed
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</script>

<script type="text/ng-template" id="poiPoaConfirmModal.tmpl.html">
    <md-dialog aria-label="Kyc Status">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Confirm your identity details</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-if="!isProcessing">
            <md-content class="md-padding">
                <div layout="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>PAN Number</label>
                            <input ng-model="poiPoaData.panno" readonly="readonly" required>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>Name</label>
                            <input ng-model="poiPoaData.name" readonly="readonly" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>Father Name</label>
                            <input ng-model="poiPoaData.fathername" required>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>DOB</label>
                            <input ng-model="poiPoaData.dob" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>City</label>
                            <input ng-model="poiPoaData.city" required>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>State</label>
                            <input ng-model="poiPoaData.state" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>Address</label>
                            <textarea ng-model="poiPoaData.address" required rows="3"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                            <label>Pincode</label>
                            <input ng-model="poiPoaData.pincode" required>
                        </md-input-container>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="!isProcessing">
            <md-button class="btn btn-warning btn-link" ng-click="editStep('POIPOA');">
                Edit
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-link" ng-click="updatePoiPoa('B');">
                Confirm
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

<script type="text/ng-template" id="editModal.tmpl.html">
    <md-dialog aria-label="Edit">
        <md-dialog-content ng-if="!isProcessing">
            <md-content class="md-padding">
                <div layout="row">
                    <div class="col-md-12">
                        If you confirm to edit this step your CURRENT/PREVIOUS screen data will be reset.
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="!isProcessing">
            <md-button class="btn btn-fin btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-warning btn-sm" ng-click="confirmToEdit();">
                Confirm
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

<script type="text/ng-template" id="bankConfirmModal.tmpl.html">
    <md-dialog aria-label="bankconfirm">
        <md-dialog-content>
            <md-content class="md-padding">
                <div layout="row">
                    <div class="col-md-12">
                        <div class="card card-product">
                            <div class="card-header card-header-image" style="text-align:center;">
                                <a href="javascript:void(0);">
                                    <img src="../../../../assets/img/1money-transfer.PNG" style="width: 15em;" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="javascript:void(0);"> If you confirm we will transfer Rs.1 in your account to confirm your bank details.</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="confirmToPennyTransfer(nxtStep);">
                Confirm
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</script>
