﻿
<div class="container-fluid">
    <div class="row" ng-show="upcomingSysTxn.remindersList.length>0">
        <div class="col-md-12" ng-repeat="txn in upcomingSysTxn.remindersList">
            <div class="card">
                <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                        <h4 class="card-title">Upcoming Transaction's on {{txn.sysmtDate}}</h4>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th></th>
                                <th>Type</th>
                                <th>Scheme</th>
                                <th>Folio</th>
                                <th>Amount</th>
                                <th>Bank/AC</th>
                                <th>Paid</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="txndata in txn.sysmTrxnlist">
                                <td>{{txndata.memberName}}</td>
                                <td>{{txndata.trxnType}}</td>
                                <td>{{txndata.schemeName}}</td>
                                <td>{{txndata.folioNo}}</td>
                                <td>Rs.{{txndata.amount}}</td>
                                <td>{{txndata.bankAcc}}</td>
                                <td>{{txndata.sysmCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="upcomingSysTxn.remindersList.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png" />
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">So far, you have no upcoming systematic transaction !!</div>
            </div>
        </div>
    </div>
</div> 