﻿<div class="container-fluid">

    <div class="row" ng-show="typecode.trim().toUpperCase()!='FG104'">
        <div class="col-md-12" ng-show="isSchemeLoaded" style="margin: 0em 0em 0.5em 0em;">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-content layout="row" style="padding-bottom:0;">
                        <md-card-header style="padding-top: 0px;">
                            <md-card-header-text>
                                <span class="md-title">Your Risk Level</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <md-radio-group layout="row" ng-model="rdRisk" ng-change="riskChange();">
                                    <md-radio-button value="L" class="md-primary">Low Risk Fund's</md-radio-button>
                                    <md-radio-button value="M" class="md-primary">Medium Risk Fund's</md-radio-button>
                                    <md-radio-button value="H" class="md-primary">High Risk Fund's</md-radio-button>
                                </md-radio-group>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isSchemeLoaded && schemeList.searchSchemesResult.length>0 && typecode.trim().toUpperCase()!='FG104'">
        <div class="col-md-6" ng-repeat="scheme in schemeList.searchSchemesResult">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-title style="padding-bottom:0;">
                        <md-card-title-text>
                            <span class="md-headline">{{scheme.schemeName}}</span>
                            <span class="md-subhead">{{scheme.obj}} <i class="material-icons">minimize</i> {{scheme.subObj}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media">
                                <button class="btn btn-warning btn-sm">
                                    {{scheme.vendorName}} <br />
                                    <i class="material-icons" ng-if="scheme.rating==1 || scheme.rating==2 || scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                    <i class="material-icons" ng-if="scheme.rating==2 || scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                    <i class="material-icons" ng-if="scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                    <i class="material-icons" ng-if="scheme.rating==4 || scheme.rating==5">star</i>
                                    <i class="material-icons" ng-if="scheme.rating==5">star</i>
                                </button>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content layout="row" style="padding:0;">
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <span class="md-subhead">Annual returns</span>
                                <span class="md-subhead">1y <span class="text-color-fin">{{scheme._1Y}}</span> | 3y <span class="text-color-fin">{{scheme._3Y}}</span> | 5y <span class="text-color-fin">{{scheme._5Y}}</span></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <span class="md-subhead">Scheme size</span>
                                <span class="md-subhead"><span ng-if="scheme.aum!='NA'">&#8377;</span> {{scheme.aum}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <button class="btn btn-success btn-sm" style="margin:0 2em 0 0" ng-click="openPopUp($event,scheme.schemeName,scheme.fundId,scheme.schemeId,'S',scheme.sipminAmt,scheme.sipmaxAmt)">Monthly</button>
                        <button class="btn btn-success btn-sm" ng-click="openPopUp($event,scheme.schemeName,scheme.fundId,scheme.schemeId,'L',ddlFolio=='New'?scheme.minAmt:scheme.addminAmt,ddlFolio=='New'?scheme.maxAmt:scheme.addMaxAmt)" ng-show="typecode.trim().toUpperCase()!='FG220'">Onetime</button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div class="col-md-6" ng-show="isSchemeLoaded" style="margin: 0em 0em 0.5em 0em;">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-header style="padding-bottom: 0px;">
                        <md-card-header-text>
                            <span class="md-title">Not satisfied with recommended fund's?</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row" style="padding-bottom:0;">
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <a href="javascript:void(0);" class="btn btn-warning" ng-click="morefunds();">click here to find more funds</a>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isSchemeLoaded && schemeList.searchSchemesResult.length>0 && typecode.trim().toUpperCase()=='FG104'">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center">
                <div class="col-md-6">
                    <slick class="slider" settings="slickConfig">
                        <div class="col-md-12" ng-repeat="scheme in schemeList.searchSchemesResult">
                            <div flex-xs flex-gt-xs="100" layout="column">
                                <md-card>
                                    <md-card-title style="padding-bottom:0;">
                                        <md-card-title-text>
                                            <span class="md-headline">{{scheme.schemeName}}</span>
                                            <span class="md-subhead">{{scheme.obj}} <i class="material-icons">minimize</i> {{scheme.subObj}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-md card-media">
                                                <button class="btn btn-warning btn-sm">
                                                    {{scheme.vendorName}} <br />
                                                    <i class="material-icons" ng-if="scheme.rating==1 || scheme.rating==2 || scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                                    <i class="material-icons" ng-if="scheme.rating==2 || scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                                    <i class="material-icons" ng-if="scheme.rating==3 || scheme.rating==4 || scheme.rating==5">star</i>
                                                    <i class="material-icons" ng-if="scheme.rating==4 || scheme.rating==5">star</i>
                                                    <i class="material-icons" ng-if="scheme.rating==5">star</i>
                                                </button>
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-content layout="row" style="padding:0;">
                                        <md-card-title style="padding-top:0;">
                                            <md-card-title-text>
                                                <span class="md-subhead">Annual returns</span>
                                                <span class="md-subhead">1y <span class="text-color-fin">{{scheme._1Y}}</span> | 3y <span class="text-color-fin">{{scheme._3Y}}</span> | 5y <span class="text-color-fin">{{scheme._5Y}}</span></span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-title style="padding-top:0;">
                                            <md-card-title-text>
                                                <span class="md-subhead">Scheme size</span>
                                                <span class="md-subhead"><span ng-if="scheme.aum!='NA'">&#8377;</span> {{scheme.aum}}</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <!--<button class="btn btn-success btn-sm" style="margin:0 2em 0 0" ng-click="openPopUp($event,scheme.schemeName,scheme.fundId,scheme.schemeId,'S',scheme.sipminAmt,scheme.sipmaxAmt)">Monthly</button>-->
                                        <button class="btn btn-success btn-sm" ng-click="openPopUp($event,scheme.schemeName,scheme.fundId,scheme.schemeId,'L',ddlFolio=='New'?scheme.minAmt:scheme.addminAmt,ddlFolio=='New'?scheme.maxAmt:scheme.addMaxAmt)" ng-show="typecode.trim().toUpperCase()!='FG220'">Onetime</button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isSchemeLoaded && schemeList.searchSchemesResult.length<1">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <img src="../../../../assets/img/nodata.png"/>
            </div>
        </div>
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="row" layout-align="center center">
                <div style="font-size:1.5em;">No recommended fund's exist for this! <a href="javascript:void(0);" class="btn btn-warning" ng-click="morefunds();" ng-show="typecode.trim().toUpperCase()!='FG104'">click here to find more funds</a></div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="addtocart.tmpl.html">
    <md-dialog aria-label="Add To Cart">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{schemeName}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isLoading && !isSchemeAdded" style="margin-top:0.5em;">

            <div class="col-md-12" ng-show="MemberList.length>1" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Investor</label>
                    <md-select ng-model="ddlMember" ng-change="memberChange();">
                        <md-option ng-repeat="Member in MemberList" value="{{Member.basicid}}">
                            {{Member.memberName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" ng-show="ProfileList.length>1" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Investment A/C</label>
                    <md-select ng-model="ddlProfile">
                        <md-option ng-repeat="profile in ProfileList" value="{{profile.profileID}}">
                            {{profile.InvestProfile}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" ng-show="MandateList.length>1" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mandate (Limit per day per txn.)</label>
                    <md-select ng-model="ddlMandate">
                        <md-option ng-repeat="Mandate in MandateList" value="{{Mandate.mandateNo}}">
                            {{Mandate.mandateNo}} (Limit: {{Mandate.mandateLimit}})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" ng-show="FolioList.length>1" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Folio ({{ddlFolio=='New'?'Fresh Purchase':'Additional Purchase'}})</label>
                    <md-select ng-model="ddlFolio">
                        <md-option ng-repeat="Folio in FolioList" value="{{Folio.folioNo}}">
                            {{Folio.folioNo}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" ng-show="txnType!='L'" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>SIP Date</label>
                    <md-select ng-model="ddlValidDate">
                        <md-option ng-repeat="ValidDate in ValidDateList.validdates track by $index" value="{{ValidDate.Day}}">
                            {{ValidDate.Date}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-12" ng-show="txnType!='L'" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Installment Year</label>
                    <md-select ng-model="ddlInstallment">
                        <md-option ng-repeat="Installment in noOfInstallment" value="{{Installment.value}}">
                            {{Installment.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" ng-show="BankList.length>1" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Bank</label>
                    <md-select ng-model="ddlBank">
                        <md-option ng-repeat="Bank in BankList" value="{{Bank.bankid}}">
                            {{Bank.bankName}} ({{Bank.accountNo}})
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-md-12" style="padding-top:0.5px;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Amount (min : {{minamt}})</label>
                    <input ng-model="txtAmount" type="number" required>
                </md-input-container>
            </div>

            <!--<div layout="row" ng-show="txnType!='L' && ddlFolio=='New' && ddlMandate=='No Mandate Yet'">
            <div class="col-md-12">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="chkInsta" ng-checked="true">Pay for the first installment now?</md-checkbox>
                </md-input-container>
            </div>
        </div>-->

        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isLoading && !isSchemeAdded">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-show="txnType=='L' || ddlMandate=='No Mandate Yet'" ng-click="addtocart()">
                Add to cart
            </md-button>
            <md-button class="btn btn-success btn-sm" ng-show="txnType=='S' && ddlMandate!='No Mandate Yet'" ng-click="sipgenerate()">
                Sip Generate
            </md-button>
        </md-dialog-actions>
        <md-dialog-actions layout="row" ng-show="isSchemeAdded">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                Add More Scheme
            </md-button>
            <span flex></span>
            <a class="btn btn-success btn-sm" href="#/dashboard/cart">
                Make Payment
            </a>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isLoading">
            <img src="../../../../assets/img/finloader.gif" ng-if="!isProcessing" />
            <img src="../../../../assets/img/finprocessing.gif" ng-if="isProcessing" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>
