﻿
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6" style="display: flex;" ng-repeat="Goaldata in userAllGoalsList.userAllGoals track by $index">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="pull-left" style="border-radius:0px !important; margin-top: -12%; width: 30%;">
                        <img ng-src="{{goalIcon}}" class="img-thumbnail" style="border-radius:0px !important;">
                    </div>
                    <div style="text-align:center; width:auto; font-size:1.1em">{{Goaldata.goalName}} Goal Achieved {{Goaldata.goalPerc}}% </div>
                    <div class="pull-right" ng-show="Goaldata.isDelete=='Y'"><a href="javascript:void(0);" ng-click="goalEdit($event,Goaldata)">Edit</a></div>
                </div>

                <div class="card-body">
                    <span style="font-size: 1.1em"> You will get Rs.{{Goaldata.getAmount}} after completion of goal. Your Goal Achievement Duration is {{Goaldata.duration}} Years </span>
                </div>

                <div class="card-body">
                    <div class="pull-left">
                        <h3 class="card-title"> RS. {{Goaldata.investedAmt}}</h3>
                        <span style="font-size:1.1em; margin-top:-10px;"> Invested Amount </span>
                    </div>
                    <div class="pull-right">
                        <h3 class="card-title"> RS. {{Goaldata.currentAmt}}  </h3>
                        <span style="font-size:1.1em; margin-top:-10px;"> Current Amount </span>
                    </div>
                </div>

                <div class="card-body" style="text-align:-webkit-center;" ng-show="Goaldata.isDelete!='Y'">
                    <div style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%;  background-color: #0056a7; text-align: center;">
                        <a href="javascript:void(0);" ng-click="investedScheme($event,Goaldata);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Invest More </h4> </a>
                    </div>
                </div>
                <div class="card-body" ng-show="Goaldata.isDelete=='Y'">
                    <div class="pull-left" style="border: 0px solid #0056a7; padding: 1% 2%; border-radius: 10%; width:30%; background-color: rgb(251, 192, 64); text-align: center;">
                        <a href="javascript:void(0);" ng-click="goalRemove($event,Goaldata);">   <h4 class="card-title"> Remove </h4> </a>
                    </div>
                    <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%; width: 30%; background-color: #0056a7; text-align: center;" ng-show="userdetails.cafstatus=='success'">
                        <a href="javascript:void(0);" ng-click="recommendedScheme($event,Goaldata);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Invest </h4> </a>
                    </div>
                    <div class="pull-right" style="border: 2px solid #0056a7; padding: 1% 2%; border-radius: 10%;  background-color: #0056a7; text-align: center;" ng-show="userdetails.cafstatus!='success'">
                        <a href="javascript:void(0);" ng-click="completeProfile($event);">   <h4 class="card-title" style="text-decoration:none; color:#fff"> Complete profile </h4> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" ng-show="userAllGoalsList.userAllGoals.length>0" style="margin: 1.3em 0em 0.5em 0em;">
            <div flex-xs flex-gt-xs="100" layout="column">
                <md-card>
                    <md-card-header style="padding-bottom: 0px;">
                        <md-card-header-text>
                            <span class="md-title">Want to add more quick SIP's?</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row" style="padding-bottom:0;">
                        <md-card-title style="padding-top:0;">
                            <md-card-title-text>
                                <a href="#/dashboard/setgoal/FG220/0" class="btn btn-warning">click here to add quick SIP</a>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="userAllGoalsList.userAllGoals.length<1">
                <div class="col-md-6">
                    <div class="card card-chart" style="background-color:#eee;display:inherit;text-align:center;margin-top:-2em;">
                        <div class="card-header goalhead" ng-style="{'background-image': 'url({{goalImg}})'}">
                        </div>
                        <div class="card-footer" style="background-color:#eee;">
                            <div class="card card-chart" style="margin-top:-10%;margin-bottom:2%;z-index:10;">
                                <div class="card-header" style="border-radius:0px !important; margin-top: -15%;margin-left:35%; width: 30%;">
                                    <img ng-src="{{goalIcon}}" class="img-thumbnail" style="border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                                </div>
                                <div class="card-body">
                                        <h2 class="card-title">Quick SIP</h2>
                                </div>
                                <div class="card-body">
                                        <h4 class="card-title">Start Early + Invest Regularly = Create Wealth</h4>
                                </div>
                            </div>
                        </div>
                        <a href="#/dashboard/setgoal/FG220/0" class="btn btn-success">Start to Invest<i class="material-icons">keyboard_arrow_right</i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/ng-template" id="removegoal.tmpl.html">
    <md-dialog aria-label="Remove Cart">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{goalName}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isGoalRemoving">
            <div layout="row">
                <div class="md-dialog-content">
                    Are you sure to remove this Quick SIP?
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isGoalRemoving">
            <md-button class="btn btn-warning btn-sm" ng-click="cancel();">
                No
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-sm" ng-click="removeGoal();">
                Yes
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isGoalRemoving">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>




