﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center" ng-show="isMemberLoaded">
                <div class="col-md-6">
                    <div class="card card-chart" style="background-color:#eee;display:inherit;text-align:center;margin-top:-2em;">
                        <div class="card-header goalhead" ng-style="{'background-image': 'url({{goalImg}})'}">
                        </div>
                        <div class="card-footer" style="background-color:#eee;">
                            <div class="card card-chart" style="margin-top:-10%;margin-bottom:2%;z-index:10;">
                                <div class="card-header" style="border-radius:0px !important; margin-top: -15%;margin-left:35%; width: 30%;">
                                    <img ng-src="{{goalIcon}}" class="img-thumbnail" style="border-radius:50px !important;background-color:transparent;box-shadow:none;border:none;" />
                                </div>
                                <div class="card-body">
                                    <div class="pull-left">
                                        <h4 class="card-title ng-binding" style="font-size:30px;"> RS. {{schemeData.FreeAmt?(schemeData.FreeAmt-(-schemeData.InProcessAmt)).toFixed(2):0}} </h4>
                                        <span style="font-size:0.9em;"> Available Balance </span>
                                    </div>
                                    <div class="pull-right">
                                        <md-input-container class="md-block" flex-gt-sm ng-show="MemberList.length>1">
                                            <label>Investor</label>
                                            <md-select ng-model="ddlMember" ng-change="memberChange();">
                                                <md-option ng-repeat="Member in MemberList" value="{{Member.basicid}}">
                                                    {{Member.memberName}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="pull-left">
                                        <h4 class="card-title" style="color: #0157a7;"> RS. {{schemeData.InvestedAmt?schemeData.InvestedAmt:0}} </h4>
                                        <span style="font-size:0.9em;"> Invested Amount </span>
                                    </div>
                                    <div class="pull-right">
                                        <h4 class="card-title" style="color: #13b70b;"> RS. {{schemeData.FreeAmt?(((schemeData.FreeAmt-schemeData.InvestedAmt)/(schemeData.InvestedAmt>0?schemeData.InvestedAmt:1))*100).toFixed(2):0}}  </h4>
                                        <span style="font-size:0.9em;"> Profitable Amount </span>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class=" dashboardCartviewtext">
                                        <a href="javascript:void(0);" class="btn btn-success" ng-click="openModal($event,'D');" ng-show="MemberList.length>0">Deposit [+]</a>
                                    </div>
                                    <div style="align-self: flex-start">
                                        <a href="javascript:void(0);" class="btn btn-yellow" ng-click="openModal($event,'W');" ng-show="isInstaShow">Insta Withdraw [-]</a>
                                        <a href="javascript:void(0);" class="btn btn-success" style="background-color: #0056a7;" ng-click="completeProfile($event);" ng-show="MemberList.length<1">Complete profile<i class="material-icons">keyboard_arrow_right</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="deposit.tmpl.html">
    <md-dialog aria-label="Deposit">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Deposit</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isProcessing">
            <md-content class="md-padding">
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>How much amount you want to Deposit?</label>
                        <input ng-model="txtdepositAmount" type="number" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <span style="font-size:0.9em;"> Minimum invest amount is Rs. 1,000 </span>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <md-button class="btn btn-warning btn-link" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-link" ng-click="DepositeAmount();">
                Deposit Money
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>

<script type="text/ng-template" id="withdraw.tmpl.html">
    <md-dialog aria-label="Withdraw">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Insta Withdraw</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-show="!isProcessing">
            <md-content class="md-padding">
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm style="margin: 18px 0 0px 0;">
                        <label>How much amount you want to Withdraw?</label>
                        <input ng-model="txtwithdrawAmount" type="number" required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <span style="font-size:0.9em;"> Instantly withdraw upto 90% of your total value or Rs. 50,000 (whichever is lower) </span>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-show="!isProcessing">
            <md-button class="btn btn-warning btn-link" ng-click="cancel();">
                Cancel
            </md-button>
            <span flex></span>
            <md-button class="btn btn-success btn-link" ng-click="WithdrawAmount();">
                Withdraw Money
            </md-button>
        </md-dialog-actions>
        <md-dialog-content layout="row" layout-align="center center" ng-if="isProcessing">
            <img src="../../../../assets/img/finprocessing.gif" style="height:7em;" />
        </md-dialog-content>
    </md-dialog>
</script>