﻿<div class="off-canvas-sidebar">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="https://www.fincart.com">
                    <img src="../../../assets/img/LOGO-TM.png" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://www.fincart.com" class="nav-link text-color-fin">
                            <i class="material-icons">home</i> Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:void(0);" ng-click="setCurrPage('R');" class="nav-link text-color-fin">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class="nav-item  active">
                        <a href="javascript:void(0);" ng-click="setCurrPage('L');" class="nav-link text-color-fin">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="wrapper wrapper-full-page">
            <div class="page-header login-page header-filter">
                <div class="container">
                    <div class="row">

                            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" ng-show="currnPage!='R'">
                                <div class="card card-login cartbgcolor">
                                    <div class="card-header card-header-yellow text-center">
                                        <h4 class="card-title">Login</h4>
                                        <div class="social-line">
                                            <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body" >

                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-color-white">email</i>
                                                    </span>
                                                </div>
                                                <input type="email" focus="true" ng-enter="action()" ng-model="txtemail" placeholder="Email..." ng-disabled="emaildisable" class="form-control text-color-white" required>
                                            </div>
                                        </span>
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-color-white">lock_outline</i>
                                                    </span>
                                                </div>
                                                <input type="password" ng-enter="action()" ng-model="txtpassword" placeholder="Password..." ng-disabled="passworddisable" maxlength="20" class="form-control text-color-white" required>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <div ng-click="action();" class="btn btn-block btn-lg text-color-white" style="cursor:pointer">{{btntxt}}</div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-10 ml-auto mr-auto" ng-show="currnPage=='R'" style="padding-top:4%">
                                <!--<h2 class="card-title text-center text-color-white">Register</h2>-->
    
                                        <div class="row">
                                            <!--<div class="col-md-6 ml-auto cartbgcolor">-->
                                            <div class="col-md-6 ml-auto">
                                                <div class="info info-horizontal">
                                                    <div class="icon icon-rose">
                                                        <i class="material-icons text-color-yellow">  </i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title text-color-yellow" style="color: #92278f; font-weight: 600; font-size: 20px; ">Step 1</h4>
                                                        <p class="description" style="color:#4800ff">
                                                            Get unbiased advice across all aspects of personal finance
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="info info-horizontal">
                                                    <div class="icon icon-primary">
                                                        <i class="material-icons text-color-yellow"> </i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title text-color-yellow" style="color: #92278f; font-weight: 600; font-size: 20px; ">Step 2</h4>
                                                        <p class="description" style="color:#4800ff">
                                                            Shop for exclusive, recommended financial products.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="info info-horizontal">
                                                    <div class="icon icon-info">
                                                        <i class="material-icons text-color-yellow"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h4 class="info-title text-color-yellow" style="color: #92278f; font-weight: 600; font-size: 20px; ">Step 3</h4>
                                                        <p class="description" style="color:#4800ff">
                                                            Manage|Review|Rebalance your entire financial life.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mr-auto" style="border: 1px #808080 outset; border-radius:5px; background: linear-gradient(60deg, #0056a7, #0056a7) !important; ">
                                                <!--<div class="social text-center">
                                                    <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-just-icon btn-link btn-white">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </div>-->
                                                <div class="form-group has-default bmd-form-group">

                                                    <span style="text-align:center"> <h3 style="color:#fff">  Signup to Fincart </h3> </span>

                                                    <span> <p> Over 50 Thousand households have already trusted us. Why Wait? </p> </span>

                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons text-color-white">mail</i>
                                                            </span>
                                                        </div>
                                                        <input type="email" focus="true" ng-enter="action()" ng-model="txtemailR" placeholder="Email..." ng-disabled="emaildisableR" class="form-control text-color-white" required>
                                                    </div>
                                                </div>
                                                <div class="form-group has-default bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons text-color-white">face</i>
                                                            </span>
                                                        </div>
                                                        <input type="text" ng-enter="action()" ng-model="txtname" placeholder="Name..." ng-disabled="namedisable" maxlength="100" class="form-control text-color-white" required>
                                                    </div>
                                                </div>
                                                <div class="form-group has-default bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons text-color-white">local_phone</i>
                                                            </span>
                                                        </div>
                                                        <input type="tel" ng-enter="action()" ng-model="txtmobile" placeholder="Mobile..." ng-disabled="mobiledisable" maxlength="10" class="form-control text-color-white" required>
                                                    </div>
                                                </div>
                                                <div class="form-group has-default bmd-form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons text-color-white">lock_outline</i>
                                                            </span>
                                                        </div>
                                                        <input type="password" ng-enter="action()" ng-model="txtpasswordR" placeholder="Password..." ng-disabled="passworddisableR" maxlength="20" class="form-control text-color-white" required>
                                                    </div>
                                                </div>
                                                <div class="form-check">
                                                    <md-checkbox ng-checked="chkStatus" ng-click="tc();">I agree to the <a href="javascript:void(0);" class="text-color-yellow">terms and conditions</a></md-checkbox>
                                                    <!--<label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" checked="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                        I agree to the <a href="#" class="text-color-yellow">terms and conditions</a>.
                                                    </label>-->
                                                </div>
                                                <div class="text-center">
                                                    <div ng-show="chkStatus" ng-click="action();" class="btn btn-round mt-4 text-color-white" style="cursor:pointer">{{btntxtR}}</div>
                                                    <!--<a href="#pablo" class="btn btn-yellow btn-round mt-4">Get Started</a>-->
                                                </div>
                                            </div>
                                        </div>
                                </div>

                        </div>
                    </div>
                </div>

            </div>
    </section>

    <div class="clearfix">   </div>

    <footer class="footer">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.fincart.com" class="text-color-fin">
                            Home
                        </a>
                    </li>
                    <li>
                        <a target="blank" href="https://www.fincart.com/#/fincart/whatisfincart" class="text-color-fin">
                            About Us
                        </a>
                    </li>
                   
                </ul>
            </nav>
            <div class="copyright float-right text-color-fin">
                By signing in, you agree to fincart's <a target="blank" href="https://www.fincart.com/#/fincart/termsofuse">Terms and Conditions</a> and <a target="blank" href="https://www.fincart.com/#/fincart/privacypolicy">Privacy Policy</a>.
            </div>
        </div>
    </footer>

    </div>
</div>